{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block admin_header %}
<div class="ms-auto pageheader-btn">
    <a href="#" id="btnTambahWilayah" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addWilayahModal" >
        <span>
            <i class="fe fe-plus"></i>
        </span> Tambah Wilayah
    </a>
</div>
{% endblock admin_header %}
{% block main %}
<!-- Master Wilayah Table -->


<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Nama Wilayah</th>
                                <th class="bg-transparent border-bottom-0">Level</th>
                                <th class="bg-transparent border-bottom-0">status</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for wilayah in dt_wilayah %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ wilayah.wilayah_nama }}==>{{ wilayah.wilayah_parent.wilayah_nama }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ wilayah.get_level_display }}</td>
                                <td class="text-muted fs-15 fw-semibold"> 
                                {% if wilayah.wilayah_status %}
                                    Aktif
                                {% else %}
                                    Tidak Aktif
                                {% endif %}
                                </td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <a class="btn btn-primary btn-md rounded-11"
                                        
                                         data-bs-toggle="modal"
                                        data-bs-target="#editWilayahModal"
                                        data-bs-wilayah_id="{{ wilayah.wilayah_id }}"
                                        data-bs-wilayah_nama="{{ wilayah.wilayah_nama }}"
                                         >
                                         
                                         <i class="fa-solid fa-pen-to-square"></i>Edit 
                                    </a>

                                    <a >
                                        <button type="button" class="btn btn-danger" onclick="Hapus_wilayah('{{wilayah.wilayah_id }}')">
                                            <i class="fe fe-trash"></i> Hapus
                                        </button>     
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Wilayah Modal -->
<div class="modal fade" id="addWilayahModal" tabindex="-1" aria-labelledby="addWilayahModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addWilayahModalLabel">Tambah Wilayah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_wilayah' %}">
                    {% csrf_token %}
                
                    <div class="mb-3">
                        <label for="wilayah_nama" class="form-label">Nama Wilayah</label>
                        <input type="text" name="wilayah_nama" id="wilayah_nama" class="form-control" placeholder="Masukkan Nama Wilayah" required>
                    </div>
                
                    <div class="mb-3 level">
                        <label for="wilayah_level" class="form-label">Level</label>
                        <select name="wilayah_level" id="wilayah_level" class="form-select" required>
                            <option value="" disabled selected>Pilih Level Wilayah</option>
                            {% for value, label in LEVEL_WILAYAH %}
                                <option value="{{ value }}">{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="mb-3 level" id="parent_provinsi" style="display: none;">
                        <label for="wilayah_parent_provinsi" class="form-label">Pilih Provinsi</label>
                        <select name="wilayah_parent_provinsi" id="wilayah_parent_provinsi" class="form-select">
                            <option value="" disabled selected>Pilih Provinsi</option>
                            {% for provinsi in provinsi_choices %}
                            <option value="{{ provinsi.wilayah_id }}">{{ provinsi.wilayah_nama }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="mb-3 level" id="parent_kabupaten" style="display: none;">
                        <label for="wilayah_parent_kabupaten" class="form-label">Pilih Kabupaten</label>
                        <select name="wilayah_parent_kabupaten" id="wilayah_parent_kabupaten" class="form-select">
                            <option value="" disabled selected>Pilih Kabupaten</option>
                            {% for kabupaten in kabupaten_choices %}
                            <option value="{{ kabupaten.wilayah_id }}">{{ kabupaten.wilayah_nama }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="mb-3 level" id="parent_kecamatan" style="display: none;">
                        <label for="wilayah_parent_kecamatan" class="form-label">Pilih Kecamatan</label>
                        <select name="wilayah_parent_kecamatan" id="wilayah_parent_kecamatan" class="form-select">
                            <option value="" disabled selected>Pilih Kecamatan</option>
                            {% for kecamatan in kecamatan_choices %}
                            <option value="{{ kecamatan.wilayah_id }}">{{ kecamatan.wilayah_nama }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="wilayah_status" id="wilayah_status" class="form-check-input" checked>
                        <label for="wilayah_status" class="form-check-label">Status Aktif</label>
                    </div>
                
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit modal -->
<div class="modal fade" id="editWilayahModal" tabindex="-1" aria-labelledby="editWilayahModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editWilayahModalLabel">Edit Wilayah</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <form method="post" id="form_edit" action="#">
                    {% csrf_token %}
                
                    <div class="mb-3">
                        <label for="edit_wilayah_nama" class="form-label">Nama Wilayah</label>
                        <input type="text" name="edit_wilayah_nama" id="edit_wilayah_nama" class="form-control" placeholder="Masukkan Nama Wilayah" required>
                    </div>
                
            
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
     
   

    // Show confirmation dialog
    function Hapus_wilayah(id_hapus_wilayah) {
        Swal.fire({
            title: 'Apakah kamu yakin ingin menghapus?',
            showCancelButton: true,
            confirmButtonText: 'Konfirmasi',
            cancelButtonText: 'Batal',
            confirmButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `delete/${id_hapus_wilayah}`,
                    dataType: "html",
                    timeout: 10000,
                    beforeSend: function() {
                        Swal.fire({
                            title: 'Memproses...',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading();
                    },
                    success: function(response) {
                        Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                        setTimeout(function() {
                            window.location.reload();
                        }, 2000); 
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        Swal.fire('Gagal!', 'Data Wilayah Gagal Dihapus!', 'error');
                    }
                });
            }
        });

    };



    // document.getElementById("wilayah_level").addEventListener("change", function() {
    //     var level = this.value;
    //     document.getElementById("parent_provinsi").style.display = level == "2" ? "block" : "none";
    //     document.getElementById("parent_kabupaten").style.display = level == "3" ? "block" : "none";
    //     document.getElementById("parent_kecamatan").style.display = level == "4" ? "block" : "none";
    // });

    document.getElementById("wilayah_level").addEventListener("change", function() {
    var level = this.value;

    var parentProvinsi = document.getElementById("parent_provinsi");
    var parentKabupaten = document.getElementById("parent_kabupaten");
    var parentKecamatan = document.getElementById("parent_kecamatan");

    // Tampilkan atau sembunyikan elemen berdasarkan level
    parentProvinsi.style.display = level == "2" ? "block" : "none";
    parentKabupaten.style.display = level == "3" ? "block" : "none";
    parentKecamatan.style.display = level == "4" ? "block" : "none";

    // Atur atribut required berdasarkan level
    if (level == "2") {
        parentProvinsi.querySelector("input, select").setAttribute("required", "true");
    } else {
        parentProvinsi.querySelector("input, select").removeAttribute("required");
    }

    if (level == "3") {
        parentKabupaten.querySelector("input, select").setAttribute("required", "true");
    } else {
        parentKabupaten.querySelector("input, select").removeAttribute("required");
    }

    if (level == "4") {
        parentKecamatan.querySelector("input, select").setAttribute("required", "true");
    } else {
        parentKecamatan.querySelector("input, select").removeAttribute("required");
    }
});

document.addEventListener("DOMContentLoaded", function () {
    // Menangkap elemen tombol Edit
    const editButtons = document.querySelectorAll('[data-bs-target="#editWilayahModal"]');
    
    editButtons.forEach(button => {
        button.addEventListener("click", function () {
    // Dapatkan elemen modal dan input

    const form_wilayah_nama = document.getElementById('edit_wilayah_nama');
   

    // Ambil data dari atribut data-bs-*
    const wilayah_nama = button.getAttribute('data-bs-wilayah_nama');
    const wilayah_id= button.getAttribute('data-bs-wilayah_id');

    // Isi data ke dalam input form di modal
    form_wilayah_nama.value = wilayah_nama;

    document.getElementById("form_edit").action = "{% url 'admin_setori:edit_wilayah' 'holder' %}".replace('holder',  wilayah_id)


               
});
    });
});

    

    
</script>
{% endblock main %}
{% block js %}
<!-- Script to handle CRUD operations via AJAX and Bootstrap modal -->

{% endblock js %}