{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}


{% block admin_header %}
<div class="ms-auto pageheader-btn">
    <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addModal" onclick="Tambah_jenis_kesehatan()">
        <span>
            <i class="fe fe-plus"></i>
        </span> Tambah data 
    </a>
    <a href="{% url 'admin_setori:histori_jenis_kesehatan' %}" class="btn btn-success btn-icon text-white">
        <span>
            <i class="fa-solid fa-rotate-right"></i>
        </span> Riwayat
    </a>
</div> 
{% endblock admin_header %}
{% block main %}


<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Jenis Data Kesehatan</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for kesehatan in dt_kesehatan %}
                          
                            <tr class="border-bottom" >
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kesehatan.nama_jenis }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <a href="{% url 'admin_setori:master_indikator' kesehatan.jenis_kesehatan_id %}">
                                        <button class="btn btn-primary">
                                            <i class="fa-solid fa-circle-info"></i>
                                            Detail</button>
                                    </a>
                                        <a class="btn btn-primary btn-md rounded-11" 
                                            href="#" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#addModal" 
                                            data-bs-id="{{ kesehatan.jenis_kesehatan_id }}"
                                            data-bs-jenis="{{ kesehatan.nama_jenis }}"
                                            onclick="edit_Jenis_kesehatan()"
                                            >
                                            
                                            <i class="fa-solid fa-pen-to-square"></i>Edit  
                                        </a>
                                        
                                        <!--delete kategori-->
                                        <a >
                                            <button type="button" class="btn btn-danger" onclick="Hapus_jenis('{{kesehatan.jenis_kesehatan_id }}')">
                                                <i class="fe fe-trash"></i> Hapus
                                            </button>     
                                        </a>

                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Identitas Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Edit jenis Data Kesehatan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                  {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="text" name="jenis_kesehatan" id="jenis_kesehatan" class="form-control" placeholder="Masukkan Jenis data Kesehatan" required />
                    </div>
                    <button type="submit"  class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var editJenisKesehatanModal = document.getElementById('addModal');

    function Tambah_jenis_kesehatan(){
        var form = editJenisKesehatanModal.querySelector('form');
        document.getElementById('addModalLabel').textContent = 'Tambahkan Jenis data kesehatan';
        form.action = "{% url 'admin_setori:add_jenis_kesehatan' %}";
    };

    var editJenis_kesehatanModal = document.getElementById('addModal');
    editJenis_kesehatanModal.addEventListener('show.bs.modal', function edit_Jenis_kesehatan() {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        var Jenis_kesehatanId = button.getAttribute('data-bs-id');
        var Jenis_kesehatan = button.getAttribute('data-bs-jenis');
        
       
        // Update the modal's form fields
        var modalTitle = editJenis_kesehatanModal.querySelector('.modal-title');
        var inputJenis_kesehatan = editJenis_kesehatanModal.querySelector('#jenis_kesehatan');
   
        var form = editJenis_kesehatanModal.querySelector('form');

        modalTitle.textContent = 'Edit ' + Jenis_kesehatan;
        inputJenis_kesehatan.value = Jenis_kesehatan;
       

        // Update form action URL dynamically with the correct Jenis_kesehatan ID
        form.action = "{% url 'admin_setori:edit_jenis_kesehatan' 'holder' %}".replace('holder',  Jenis_kesehatanId);
        
    });
    
    function Hapus_jenis(jenis_kesehatan_id) {
    console.log
    Swal.fire({
        title: 'Apakah kamu yakin ingin menghapus?',
        showCancelButton: true,
        confirmButtonText: 'Konfirmasi',
        cancelButtonText: 'Batal',
        confirmButtonColor: '#d33',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: `delete_at/${jenis_kesehatan_id}`,
                dataType: "html",
                timeout: 10000,
                beforeSend: function() {
                    Swal.fire({
                        title: 'Memproses...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function(response) {
                    Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000); 
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                }
            });
        }
    });
    };

</script>
{% endblock main %}
{% block js %}
{% endblock js %}