{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}

<!-- Button to Add New User -->
 <a href="{% url 'admin_setori:admin_layanan' %}">

     <button type="button" class="btn btn-primary mb-3" >
        <i class="fa-solid fa-arrow-left"></i>
         Kembali
     </button>

     <button class="btn btn-danger" id="delete-selected">
        <i class="fa-solid fa-trash"></i>
        Hapus Terpilih
    </button>
 </a>

<!-- User Table -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Histori Layanan</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Surat</th>
                                <th class="bg-transparent border-bottom-0">Syarat</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for layanan in dt_layanan %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ layanan.surat }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ layanan.syarat|safe}}</td>
                             
                                <!-- <td class="text-success fs-15 fw-semibold">Success</td> -->
                                <td class="text-muted fs-15 fw-semibold">
                                    <a onclick="pulih_layanan('{{layanan.id_layanan }}')">
                                        <button class="btn btn-success">
                                            <i class="fa-solid fa-rotate-right"></i>
                                            Restore</button>
                                    </a>
                                    <a onclick="Hapus_layanan_permanen('{{layanan.id_layanan }}')">
                                        <button class="btn btn-danger">
                                            <i class="fa-solid fa-trash"></i>
                                            Hapus permanen</button>
                                    </a>  
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>

<!--  Restore Modal -->
<div class="modal fade" id="restorelayananmodal" tabindex="-1" aria-labelledby="restorelayananmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="restorelayananmodalLabel">kembalikan data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <a id="restore" href="">
                    <button type="button" class="btn btn-primary">save</button>
                </a>
            
            </div>
        </div>
    </div>
</div>


<script>
     var Restorelayananmodal = document.getElementById('restorelayananmodal');
    Restorelayananmodal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        var faqId = button.getAttribute('data-bs-id');

        // Extract info from data-bs-* attributes
        var pertanyaan = button.getAttribute('data-bs-id');
        var modalTitle = Restorelayananmodal.querySelector('.modal-title');
        var link = Restorelayananmodal.querySelector('#restore')
        modalTitle.textContent = 'kembalikan ' + pertanyaan;
      
        // Update form action URL dynamically with the correct FAQ ID
        link.href = "{% url 'admin_setori:restore_layanan' 'holder' %}".replace('holder', faqId);
    });


        // Show confirmation dialog hapus
    function Hapus_layanan_permanen(id_hapus_layanan){
    Swal.fire({
            title: 'Apakah kamu yakin ingin menghapus?',
            showCancelButton: true,
            confirmButtonText: 'Konfirmasi',
            cancelButtonText: 'Batal',
            confirmButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'admin_setori:delete_layanan' 'holder' %}".replace('holder', id_hapus_layanan),
                    dataType: "html",
                    timeout: 10000,
                    beforeSend: function() {
                        Swal.fire({
                            title: 'Memproses...',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading();
                    },
                    success: function(response) {
                        Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                        setTimeout(function() {
                            window.location.reload();
                        }, 2000); 
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                    }
                });
            }
        });
    }


        // Show confirmation dialog restore
        function pulih_layanan(id_pulih_layanan){
    Swal.fire({
            title: 'Apakah kamu yakin ingin memulihkan data?',
            showCancelButton: true,
            confirmButtonText: 'Konfirmasi',
            cancelButtonText: 'Batal',
            confirmButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{% url 'admin_setori:restore_layanan' 'holder' %}".replace('holder', id_pulih_layanan),
                    dataType: "html",
                    timeout: 10000,
                    beforeSend: function() {
                        Swal.fire({
                            title: 'Memproses...',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading();
                    },
                    success: function(response) {
                        Swal.fire('Berhasil!', 'Data Berhasil Dipulihkan', 'success');
                        setTimeout(function() {
                            window.location.reload();
                        }, 2000); 
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        Swal.fire('Gagal!', 'Data Gagal Dipulihkan', 'error');
                    }
                });
            }
        });
    }

</script>



{% endblock main %}


{% block js %}
<!-- Script to handle CRUD operations via AJAX and Bootstrap modal -->

{% endblock js %}

