{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}
<!-- Button to Add New Layanan -->
<div class="page-header">
    <div>
        <h1 class="page-title">Dashboard 01</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addLayananModal">
            <span>
                <i class="fe fe-plus"></i>
            </span> Add Layanan
        </a>
        <a href="{% url 'admin_setori:histori_layanan' %}" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fa-solid fa-rotate-right"></i>
            </span> Histori
        </a>
    </div>
</div>

<!-- Layanan Table -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Layaan</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Surat</th>
                                <th class="bg-transparent border-bottom-0">Syarat</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          {% for layanan in dt_layanan %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ layanan.surat }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ layanan.syarat|safe}}</td>
                             
                                <!-- <td class="text-success fs-15 fw-semibold">Success</td> -->
                                <td class="text-muted fs-15 fw-semibold">
                                <a class="btn btn-primary btn-sm rounded-11 me-2" 
                                    href="#" 
                                    data-bs-toggle="modal" 
                                    data-bs-target="#editLayananModal" 
                                    data-bs-id="{{ layanan.id_layanan }}" 
                                    data-bs-surat="{{ layanan.surat }}" 
                                    data-bs-syarat="{{ layanan.syarat }}">
                                     <i>
                                         <svg class="table-edit" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16">
                                             <path d="M0 0h24v24H0V0z" fill="none" />
                                             <path
                                                 d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"
                                             />
                                         </svg>
                                     </i>
                                 </a>
                                 
                                 <a >
                                    <button type="button" class="btn btn-danger" onclick="Hapus_layanan('{{ layanan.id_layanan }}')">
                                        <i class="fe fe-trash"></i> Hapus
                                    </button>     
                                </a>    
                                    
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>

<!-- Add  Modal -->
<div class="modal fade" id="addLayananModal" tabindex="-1" aria-labelledby="addLayananModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLayananModalLabel">layanan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_layanan' %}">
                  {% csrf_token %}
                    <div class="mb-3">
                        <label  class="form-label">Nama Surat</label>
                        <input type="text" name="surat" class="form-control"  placeholder="Masukan nama surat" />
                    </div>
                    <div class="mb-3"></div>
                        <label  class="form-label">Persyaratan</label>
                       
                        <textarea type="text" name="syarat" class="form-control edit"  placeholder="Masukan syarat" id="editor"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary ">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% for layanan in dt_layanan %}
<!-- Delete Layanan Modal -->
<div class="modal fade" id="deleteLayananModal_{{ layanan.id_layanan }}" tabindex="-1" aria-labelledby="deleteLayananModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLayananModalLabel">Delete Layanan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Layanan?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <a href="#">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            
            </div>
        </div>
    </div>
</div>


{% endfor %}
<!-- edit Layanan Modal -->
<!-- Edit layanan Modal -->
<div class="modal fade" id="editLayananModal" tabindex="-1" aria-labelledby="editLayananModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editLayananModalLabel">Edit layanan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">surat</label>
                        <input type="text" name="surat" id="edit-surat" class="form-control" placeholder="Masukan surat" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">syarat</label>
                        <textarea type="text" name="editsyarat" class="form-control "  placeholder="Masukan syarat" id="editor2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Update layanan</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    var editLayananModal = document.getElementById('editLayananModal');
   editLayananModal.addEventListener('show.bs.modal', function (event) {
       // Button that triggered the modal
       var button = event.relatedTarget;

       // Extract info from data-bs-* attributes
       var layananId = button.getAttribute('data-bs-id');
       var surat = button.getAttribute('data-bs-surat');
       var syarat = button.getAttribute('data-bs-syarat');

       // Update the modal's form fields
       var modalTitle = editLayananModal.querySelector('.modal-title');
       var inputsurat = editLayananModal.querySelector('#edit-surat');
       var inputsyarat = editLayananModal.querySelector('#editor2');
       var form = editLayananModal.querySelector('form');

       modalTitle.textContent = 'Edit surat ' + surat;
       inputsurat.value = surat;
       inputsyarat.value = syarat;

       // Update form action URL dynamically with the correct layanan ID
       form.action = "{% url 'admin_setori:edit_layanan' 'holder' %}".replace('holder', layananId);
       
   });



   function Hapus_layanan(id) {
      // Show confirmation dialog
      Swal.fire({
          title: 'Apakah kamu yakin ingin menghapus?',
          showCancelButton: true,
          confirmButtonText: 'Konfirmasi',
          cancelButtonText: 'Batal',
          confirmButtonColor: '#d33',
      }).then((result) => {
          if (result.isConfirmed) {
              $.ajax({
                  url: `delete_at/${id}`,
                  dataType: "html",
                  timeout: 10000,
                  beforeSend: function() {
                      Swal.fire({
                          title: 'Memproses...',
                          allowEscapeKey: false,
                          allowOutsideClick: false,
                          showCancelButton: false,
                          showConfirmButton: false,
                      });
                      Swal.showLoading();
                  },
                  success: function(response) {
                      Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                      setTimeout(function() {
                          window.location.reload();
                      }, 2000); 
                  },
                  error: function(xhr, ajaxOptions, thrownError) {
                      Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                  }
              });
          }
      });
  
  };
</script>


<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.2.0/"
        }
    }
</script>

<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Font,
        Paragraph
    } from 'ckeditor5';

    ClassicEditor
        .create( document.querySelector( '.edit' ), {
            plugins: [ Essentials, Bold, Italic, Font, Paragraph ],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ],
            
            height: '500px'
        } )
        .then(editor => {
            // Optionally listen for changes to update the hidden textarea
            editor.model.document.on('change:data', () => {
                const data = editor.getData();
                document.querySelector('textarea[name="editsyarat"]').value = data;
            });
        })
        .catch(error => {
            console.error(error);
        });


</script>


{% endblock main %}