{% extends 'admin/base_layout/index.html' %}
{% block main %}
<style>
    .ck-editor{
        height: 400px;
    }
</style>
<div class="page-header">
    <div>
        <h1 class="page-title">detail Berita</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Berita</a></li>
            <li class="breadcrumb-item active" aria-current="page">detail Berita</li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addNewsModal">
            <span>
                <i class="fe fe-plus"></i>
            </span> Add Berita
        </a>
        <a href="#" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fe fe-log-in"></i>
            </span> Export
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">News</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Title</th>
                                <th class="bg-transparent border-bottom-0">foto</th>
                                <th class="bg-transparent border-bottom-0">konten</th>
                                <th class="bg-transparent border-bottom-0">Category</th>
                                <th class="bg-transparent border-bottom-0">Created By</th>
                                <th class="bg-transparent border-bottom-0">Last Updated</th>
                                
                                <th class="bg-transparent border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for berita in dt_berita %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ berita.title }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <img src="{{ berita.thumbnail.url }}" alt="logo" style="width: 50px; height: auto;">
                                </td>
                                <td class="text-muted fs-15 fw-semibold">{{ berita.content|safe}}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ berita.category.name }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ berita.created_by.username }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ berita.date_joined }}</td>
                              
                                <td class="">
                                    <a class="btn btn-primary btn-sm rounded-11 me-2" 
                                       href="#" 
                                       data-bs-toggle="modal" 
                                       data-bs-target="#editNewsModal" 
                                       data-bs-id="{{ berita.id }}" 
                                       data-bs-title="{{ berita.title }}" 
                                       data-bs-category="{{ berita.category.name }}" 
                                       data-bs-content="{{ berita.content }}">
                                        <i>
                                            <svg class="table-edit" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16">
                                                <path d="M0 0h24v24H0V0z" fill="none" />
                                                <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z" />
                                            </svg>
                                        </i>
                                    </a>

                                    <a class="btn btn-danger btn-sm rounded-11"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#deleteNewsModal" 
                                        data-bs-original-title="Delete"
                                        data-bs-slug="{{ berita.slug }}" 
                                        data-bs-title="{{ berita.title }}">
                                        <i>
                                            <svg class="table-delete" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16">
                                                <path d="M0 0h24v24H0V0z" fill="none" />
                                                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z" />
                                            </svg>
                                        </i>
                                    </a>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>


<!-- addd -->

<div class="modal fade" id="addNewsModal" tabindex="-1" aria-labelledby="addNewsModalLabel" aria-hidden="true">
    <div class="modal-dialog col-10">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewsModalLabel">Add News</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_berita' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter Title" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Category</label>
                        <select name="category" class="form-select" required>
                            <option value="">Select Category</option>
                            {% for kategori in dt_kategori %}
                                <option value="{{ kategori.categori_id }}">{{ kategori.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Thumbnail</label>
                        <input type="file" name="thumbnail" class="form-control" accept="image/*" required />
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="username" value="{{ user.username }}" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Content</label>
                        <textarea  name="content_berita" id="editor" class="form-control ck-editor" placeholder="Enter Content" required></textarea>
                    </div>
                   
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary col-6">Save</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<!--edit news-->
<div class="modal fade" id="editNewsModal" tabindex="-1" aria-labelledby="editNewsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editNewsModalLabel">Edit Berita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Pertanyaan</label>
                        <input type="text" name="pertanyaan" id="edit-pertanyaan" class="form-control" placeholder="Masukan Pertanyaan" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jawaban</label>
                        <textarea name="jawaban" id="edit-jawaban" class="form-control" placeholder="Masukan Jawaban" required ></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Update FAQ</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--delete news-->
<div class="modal fade" id="deleteNewsModal" tabindex="-1" aria-labelledby="deleteNewsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteNewsModalLabel">Hapus Berita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin menghapus berita ini?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="del" href="">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    var editNewsModal = document.getElementById('editNewsModal');
    editNewsModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        var faqId = button.getAttribute('data-bs-id');
        var pertanyaan = button.getAttribute('data-bs-pertanyaan');
        var jawaban = button.getAttribute('data-bs-jawaban');

        // Update the modal's form fields
        var modalTitle = editNewsModal.querySelector('.modal-title');
        var inputPertanyaan = editNewsModal.querySelector('#edit-pertanyaan');
        var inputJawaban = editNewsModal.querySelector('#edit-jawaban');
        var form = editNewsModal.querySelector('form');

        modalTitle.textContent = 'Edit pertanyaan ' + pertanyaan;
        inputPertanyaan.value = pertanyaan;
        inputJawaban.value = jawaban;

        // Update form action URL dynamically with the correct FAQ ID
        form.action = "{% url 'admin_setori:edit_faq' 'holder' %}".replace('holder', faqId);
        
    });

    var deleteNewsModal = document.getElementById('deleteNewsModal');
    deleteNewsModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var newsSlug = button.getAttribute('data-bs-slug');
        var newsTitle = button.getAttribute('data-bs-title');

        var modalTitle = deleteNewsModal.querySelector('.modal-title');
        var link = deleteNewsModal.querySelector('#del');
        modalTitle.textContent = 'Hapus ' + newsTitle;

        link.href = "{% url 'admin_setori:delete_berita' 'holder' %}".replace('holder', newsSlug);
    });


          //delete
    var deleteFaqModal = document.getElementById('deleteUserModal');
    deleteFaqModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        var faqId = button.getAttribute('data-bs-id');

        // Extract info from data-bs-* attributes
        var pertanyaan = button.getAttribute('data-bs-pertanyaan');
        var modalTitle = deleteFaqModal.querySelector('.modal-title');
        var link = deleteFaqModal.querySelector('#del')
        modalTitle.textContent = 'hapus ' + pertanyaan;
      
        // Update form action URL dynamically with the correct FAQ ID
        link.href = "{% url 'admin_setori:delete_at_faq' 'holder' %}".replace('holder', faqId);
    });
    
</script>


<!--ck editor-->
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.2.0/"
        }
    }
</script>
<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Font,
        Paragraph
    } from 'ckeditor5';

    ClassicEditor
        .create(document.querySelector('#editor'), {
            plugins: [Essentials, Bold, Italic, Font, Paragraph],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ],
        })
        .then(editor => {
            // Optionally listen for changes to update the hidden textarea
            editor.model.document.on('change:data', () => {
                const data = editor.getData();
                document.querySelector('textarea[name="content_berita"]').value = data;
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>





{% endblock main %}