{% extends 'admin/base_layout/index.html' %}
{% block main %}
<div class="page-header">
    <div>
        <a href="{% url 'admin_setori:admin_berita' %}">

            <button type="button" class="btn btn-primary mb-3" >
               <i class="fa-solid fa-arrow-left"></i>
                Kembali
            </button>
        </a>
    </div>
</div>


<div class="card productdesc">
    <div class="card-body">
        <div class="container mt-lg-5">
            <div class="row">
                <div class="card-body card-body-colored" >
                    <div class="productdec text-center">
                        <img alt="gambar_berita" src="{{ detail_berita.thumbnail.url }}">
                    </div>
                    <div class="mt-4 mb-4">
                        <h3>{{ detail_berita.title }}</h3>
                        <li class=" row">
                            <div class="col-sm-2 text-muted">Penulis Berita:</div>
                            <div class="col-sm-2">{{ detail_berita.created_by.username }}</div>
                        </li>
                        <li class="p-b-20 row">
                            <div class="col-sm-2 text-muted">Tanggal Terbit:</div>
                            <div class="col-sm-2">{{ detail_berita.created_at }}</div>
                        </li>
                    </div>
                    <div class="mt-4 mb-4">
                        <p>{{ detail_berita.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}