{% extends 'admin/base_layout/index.html' %}
{% block main %}
<style>
    .ck-editor{
        height: 400px;
    }
</style>
<div class="page-header">
    <div>
        <h1 class="page-title">Daftar Berita</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Berita</a></li>
            <li class="breadcrumb-item active" aria-current="page">Daftar Berita</li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addNewsModal">
            <span>
                <i class="fe fe-plus"></i>
            </span> Add Berita
        </a>
        <a href="#" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fe fe-log-in"></i>
            </span> Export
        </a>
    </div>
</div>


<!-- addd -->

<form method="post" action="{% url 'admin_setori:add_berita' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" placeholder="Enter Title" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Category</label>
        <select name="category" class="form-select" required>
            <option value="">Select Category</option>
            {% for kategori in dt_kategori %}
                <option value="{{ kategori.categori_id }}">{{ kategori.name }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- <div class="mb-3">
        <label class="form-label">Thumbnail</label>
        <input type="file" name="thumbnail" class="form-control" accept="image/*" required />
    </div> -->
    <div class="col-lg-4 col-sm-12 mb-3 mb-lg-0">
        <label class="form-label">Thumbnail</label>
        <input type="file" name="thumbnail" class="dropify" data-bs-height="180" accept="image/*" required/>
    </div>
    <div class="mb-3">
        <input type="hidden" name="username" value="{{ user.username }}" readonly>
    </div>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea  name="content_berita" id="editor" class="form-control ck-editor" placeholder="Enter Content" required></textarea>
    </div>
   
    <div class="text-center">
        <button type="submit" class="btn btn-primary col-6">Save</button>
    </div>
    
</form>

<!--edit news-->
<div class="modal fade" id="editNewsModal" tabindex="-1" aria-labelledby="editNewsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editNewsModalLabel">Edit Berita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Pertanyaan</label>
                        <input type="text" name="pertanyaan" id="edit-pertanyaan" class="form-control" placeholder="Masukan Pertanyaan" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jawaban</label>
                        <textarea name="jawaban" id="edit-jawaban" class="form-control" placeholder="Masukan Jawaban" required ></textarea>
                    </div>
                    <button type="submit" class="btn btn-warning">Update FAQ</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--delete news-->
<div class="modal fade" id="deleteNewsModal" tabindex="-1" aria-labelledby="deleteNewsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteNewsModalLabel">Hapus Berita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin menghapus berita ini?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a id="del" href="">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>


<script>
    var editNewsModal = document.getElementById('editNewsModal');
    editNewsModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        var faqId = button.getAttribute('data-bs-id');
        var pertanyaan = button.getAttribute('data-bs-pertanyaan');
        var jawaban = button.getAttribute('data-bs-jawaban');

        // Update the modal's form fields
        var modalTitle = editNewsModal.querySelector('.modal-title');
        var inputPertanyaan = editNewsModal.querySelector('#edit-pertanyaan');
        var inputJawaban = editNewsModal.querySelector('#edit-jawaban');
        var form = editNewsModal.querySelector('form');

        modalTitle.textContent = 'Edit pertanyaan ' + pertanyaan;
        inputPertanyaan.value = pertanyaan;
        inputJawaban.value = jawaban;

        // Update form action URL dynamically with the correct FAQ ID
        form.action = "{% url 'admin_setori:edit_faq' 'holder' %}".replace('holder', faqId);
        
    });

    var deleteNewsModal = document.getElementById('deleteNewsModal');
    deleteNewsModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var newsSlug = button.getAttribute('data-bs-slug');
        var newsTitle = button.getAttribute('data-bs-title');

        var modalTitle = deleteNewsModal.querySelector('.modal-title');
        var link = deleteNewsModal.querySelector('#del');
        modalTitle.textContent = 'Hapus ' + newsTitle;

        link.href = "{% url 'admin_setori:delete_berita' 'holder' %}".replace('holder', newsSlug);
    });

    
</script>


<!--ck editor-->
<script type="importmap">
    {
        "imports": {
            "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.js",
            "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.2.0/"
        }
    }
</script>
<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Bold,
        Italic,
        Font,
        Paragraph
    } from 'ckeditor5';

    ClassicEditor
        .create(document.querySelector('#editor'), {
            plugins: [Essentials, Bold, Italic, Font, Paragraph],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ],
        })
        .then(editor => {
            // Optionally listen for changes to update the hidden textarea
            editor.model.document.on('change:data', () => {
                const data = editor.getData();
                document.querySelector('textarea[name="content_berita"]').value = data;
            });
        })
        .catch(error => {
            console.error(error);
        });
</script>





{% endblock main %}