{% extends 'admin/base_layout/index.html' %}
{% block css %} 

{% endblock css %}
{% block admin_header %}
<div class="ms-auto pageheader-btn">
    <a href="{% url 'admin_setori:add_slider' %}" class="btn btn-primary btn-icon text-white me-2" >
        <span>
            <i class="fe fe-plus"></i>
        </span> Add kategori
    </a>
    <a href="{% url 'admin_setori:histori_slider' %}" class="btn btn-success btn-icon text-white">
        <span>
            <i class="fa-solid fa-rotate-right"></i>
        </span> histori
    </a>
</div>
{% endblock admin_header %}
{% block main %}

<!-- PAGE-HEADER -->


<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">logo</th>
                                <th class="bg-transparent border-bottom-0">Foto</th>
                                <th class="bg-transparent border-bottom-0">text</th>
                                <th class="bg-transparent border-bottom-0">status</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for slider in dt_slider %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <img src="{{ slider.logo.url }}" alt="logo" style="width: 50px; height: auto;">
                                </td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <img src="{{ slider.foto.url }}" alt="logo" style="width: 50px; height: auto;">
                                </td>
                                <td class="text-muted fs-15 fw-semibold">{{ slider.text}}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ slider.status}}</td>
                                <td class="">
                                   
                                    <a class="btn btn-primary btn-md rounded-11 me-2" 
                                    href="{% url 'admin_setori:edit_slider' slider.id_slider %}"
                                    >
                                    <i class="fa-solid fa-pen-to-square"></i>Edit  
                                    </a>

                                    <a >
                                        <button type="button" class="btn btn-danger" onclick="Hapus_slider('{{slider.id_slider }}')">
                                            <i class="fe fe-trash"></i> Hapus
                                        </button>     
                                    </a>
                                   
                                </td>
                            </tr>
                          {% endfor %}

                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Identitas Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Tambah Identitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_slider' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">

                        <div class="col-lg-6 col-sm-12 mb-3 mb-lg-0">
                            <label class="form-label" for="id_logo">Logo</label>
                            <input type="file" name="logo" id="id_logo" class="dropify" data-default-file="" data-bs-height="180" accept="image/*" required/>
                            <div class="form-text">Unggah logo slider (format gambar).</div>
                        </div>
                        
                        <div class="col-lg-6 col-sm-12 mb-3 mb-lg-0">
                            <label class="form-label" for="id_foto">Background Foto</label>
                            <input type="file" name="foto" id="id_foto" class="dropify" data-default-file="" data-bs-height="180" accept="image/*" required/>
                            <div class="form-text">Unggah background foto slider (format gambar).</div>
                        </div>
    
                        <div class="mb-3 col-" >
                            <label class="form-label" for="id_text">Teks Slider</label>
                            <input type="text" name="text" id="id_text" class="form-control"  maxlength="255" placeholder="Masukkan teks slider"  />
                        </div>
                        
                        <div class="mb-3 col-">
                            <label for="id_status" class="form-label">Status</label>
                            <select name="status" id="id_status" class="form-select" required>
                                <option value=1>Aktif</option>
                                <option value=0>Tidak Aktif</option>
                            </select>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock main %}
{% block js %}
<script>

var editSlider = document.getElementById('addModal');
    editSlider.addEventListener('show.bs.modal', function editslider() {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        var SliderId = button.getAttribute('data-bs-id');
        var Slider = button.getAttribute('data-bs-text');                                 
        var Logo = button.getAttribute('data-bs-logo');  
        console.log(Logo);
        // Update the modal's form fields
        var modalTitle = editSlider.querySelector('.modal-title');
        var inputSlider = editSlider.querySelector('#id_text');
        var inputLogo = editSlider.querySelector('#id_logo')
        var form = editSlider.querySelector('form');

        modalTitle.textContent = 'Edit ' + Slider;
        inputSlider.value = Slider;
        inputLogo.setAttribute("data-default-file", Logo );
        console.log("jan");
        $('.dropify').dropify();
        
       

        // Update form action URL dynamically with the correct Jenis_kesehatan ID
        form.action = "{% url 'admin_setori:edit_jenis_kesehatan' 'holder' %}".replace('holder',  Jenis_kesehatanId);
        
    });

    // Show confirmation dialog
    function Hapus_slider(id) {
    Swal.fire({
        title: 'Apakah kamu yakin ingin menghapus?',
        showCancelButton: true,
        confirmButtonText: 'Konfirmasi',
        cancelButtonText: 'Batal',
        confirmButtonColor: '#d33',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: `delete_at/${id}`,
                dataType: "html",
                timeout: 10000,
                beforeSend: function() {
                    Swal.fire({
                        title: 'Memproses...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function(response) {
                    Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000); 
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                }
            });
        }
    });

};


document.addEventListener("DOMContentLoaded", function() {
    const form = document.querySelector("form");
    const wilayahSelect = document.getElementById("wilayah");
    const indikatorSelect = document.getElementById("indikator");
    
    form.addEventListener("submit", function(event) {
        const selectedWilayah = wilayahSelect.value;
        const selectedIndikator = indikatorSelect.value;

        // Cek apakah kombinasi wilayah dan indikator sudah ada di tabel
        const isDuplicate = Array.from(document.querySelectorAll("tbody tr")).some(row => {
            const wilayah = row.getAttribute("data-wilayah");
            const indikator = row.getAttribute("data-indikator");
            return wilayah === selectedWilayah && indikator === selectedIndikator;
        });

        if (isDuplicate) {
            event.preventDefault(); // Hentikan pengiriman form
            alert("Data dengan kombinasi Wilayah dan Indikator ini sudah ada.");
        }
    });
});
</script>
{% endblock js %}