{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Dashboard 01</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addModal">
            <span>
                <i class="fe fe-plus"></i>
            </span> Add kategori
        </a>
        <a href="#" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fe fe-log-in"></i>
            </span> Export
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">logo</th>
                                <th class="bg-transparent border-bottom-0">Foto</th>
                                <th class="bg-transparent border-bottom-0">text</th>
                                <th class="bg-transparent border-bottom-0">status</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for slider in dt_slider %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <img src="{{ slider.logo.url }}" alt="logo" style="width: 50px; height: auto;">
                                </td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <img src="{{ slider.foto.url }}" alt="logo" style="width: 50px; height: auto;">
                                </td>
                                <td class="text-muted fs-15 fw-semibold">{{ slider.text}}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ slider.status}}</td>
                                <td class="">
                                   
                                    <a >
                                        <button type="button" class="btn btn-danger" onclick="Hapus_slider('{{slider.id_slider }}')">
                                            <i class="fe fe-trash"></i> Hapus
                                        </button>     
                                    </a>
                                   
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Identitas Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Tambah Identitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_slider' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-4 col-sm-12 mb-3 mb-lg-0">
                        <label class="form-label" for="id_logo">Logo</label>
                        <input type="file" name="logo" id="id_logo" class="dropify" data-bs-height="180" accept="image/*" required/>
                        <div class="form-text">Unggah logo slider (format gambar).</div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-12 mb-3 mb-lg-0">
                        <label class="form-label" for="id_foto">Background Foto</label>
                        <input type="file" name="foto" id="id_foto" class="dropify" data-bs-height="180" accept="image/*" required/>
                        <div class="form-text">Unggah background foto slider (format gambar).</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="id_text">Teks Slider</label>
                        <input type="text" name="text" id="id_text" class="form-control" maxlength="255" placeholder="Masukkan teks slider"  />
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_status" class="form-label">Status</label>
                        <select name="status" id="id_status" class="form-select" required>
                            <option value=1>Aktif</option>
                            <option value=0>Tidak Aktif</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock main %}
{% block js %}
<script>

    // Show confirmation dialog
    function Hapus_slider(id_hapus_sl) {
    Swal.fire({
        title: 'Apakah kamu yakin ingin menghapus?',
        showCancelButton: true,
        confirmButtonText: 'Konfirmasi',
        cancelButtonText: 'Batal',
        confirmButtonColor: '#d33',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: `delete_slider/${id_hapus_sl}`,
                dataType: "html",
                timeout: 10000,
                beforeSend: function() {
                    Swal.fire({
                        title: 'Memproses...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function(response) {
                    Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000); 
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                }
            });
        }
    });
};

</script>
{% endblock js %}