{% load static %}
{% block css %}
{% endblock css %}

<footer id="footer" class="border-0 bg-light px-3 px-lg-5 pt-0 text-3">
    <div class="container pb-lg-4 pt-5">
        <div class="row pt-3">
            <!--ke 1-->
            <div class="col-lg-4">
                <a href="index.html">
                    <img alt="Porto" width="90%" height="auto" src="{% static 'img/icons/logo_setori/logo_setori_hitam.png' %}">
                </a>
            </div>

            <!--ke 2-->
            <div class="col-sm-6 col-lg-4 pt-4 pt-lg-0">
                <h4 class="text-color-dark font-weight-bold mb-3">Setori</h4>

                <p class="text-3-5 text-color-grey">Setori - Menuju Kesehatan Masyarakat yang Lebih Baik. Setori menyediakan infografik data kesehatan Kabupaten Supiori lengkap hingga rinciannya di kampung, serta berita terbaru yang terkait dengan Supiori untuk informasi terkini dan pemahaman data yang mudah.</p>

                <ul class="social-icons social-icons-clean social-icons-medium">
                    <li class="social-icons-instagram">
                        <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="social-icons-x">
                        <a href="http://www.x.com/" target="_blank" title="X">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                    </li>
                    <li class="social-icons-facebook">
                        <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!--ke 3-->
            <div class="col-lg-3 pt-4 pt-lg-0";>
                <h4 class="text-color-dark font-weight-bold mb-3"  style="margin: 0 auto; text-align: center">Maps</h4>
                <p class="text-3-5 text-color-grey">Hubungi kami di: Marsram, Kec. Supiori Tim., Kabupaten Supiori, Papua 98161</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.4732393564395!2d135.72464797582455!3d-0.7535719352777015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x680171f324b75afb%3A0xc3480285d5705e8e!2sDinas%20Kesehatan!5e0!3m2!1sid!2sid!4v1728981131871!5m2!1sid!2sid" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <!--bawahan-->
    <div class="footer-copyright bg-transparent pb-5">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start py-3">
                    <p class="text-3 mb-0 opacity-6">© 2024 Setori is Proudly Powered by <a href="http://www.okler.net/" target="_blank" class="text-decoration-underline text-color-secondary text-color-hover-primary">Okler</a></p>
                </div>
                <div class="col-lg-6 py-3 text-center text-lg-end">
                    <a href="{% url 'app_setori:kontak' %}" class="text-color-grey text-color-hover-primary">Privacy Policy</a>
                    <a href="{% url 'app_setori:kontak' %}" class="text-color-grey text-color-hover-primary ms-3">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</footer>