{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}
<!-- Button to Add New User -->
<div class="page-header">
    <div>
        <h1 class="page-title">Kontak</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Kontak</a></li>
        </ol>
    </div>

    <div class="ms-auto pageheader-btn" data-bs-toggle="modal" data-bs-target="#addUserModal" >
        {% if dt_kontak %}
        {% for kontak in dt_kontak %}
        <a href="{% url 'admin_setori:edit_kontak' kontak.id  %}" class="btn btn-primary btn-icon text-white">
            <span>
                <i class="fa-solid fa-pen-to-square"></i>Edit 
            </span> 
        </a>
        {% endfor %}
        {% else %}
        <a href="{% url 'admin_setori:add_kontak' %}" class="btn btn-primary btn-icon text-white me-2" >
            <span>
                <i class="fe fe-plus"></i>
            </span> Tambah Kontak
        </a>

        {% endif %}
        <a href="" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fe fe-log-in"></i>
            </span> Histori
        </a>
    </div>

</div>



<!-- User Table -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Kontak</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0 w-5">Nama Instansi</th>
                                <th class="bg-transparent border-bottom-0 w-5">Alamat</th>
                                <th class="bg-transparent border-bottom-0 w-5">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for kontak in dt_kontak %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.nama_instansi }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.alamat }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <a>
                                        <button type="button" class="btn btn-danger" onclick="Hapus_kontak('{{ kontak.id }}')">
                                            <i class="fe fe-trash"></i> Hapus
                                        </button>     
                                    </a>    
                                        
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addKontakModal" tabindex="-1" aria-labelledby="addKontakModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addKontakModalLabel">Tambah Kontak</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_kontak' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Instansi</label>
                    <input type="text" name="nama_instansi" class="form-control" placeholder="Masukan Instansi" required />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Maps</label>
                    <input type="text" name="maps" class="form-control" placeholder="Masukan Maps" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Instagram</label>
                    <input type="text" name="link_ig" class="form-control" placeholder="Masukan Link Instagram" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Twitter</label>
                    <input type="text" name="link_twitter" class="form-control" placeholder="Masukan Link Twitter" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Facebook</label>
                    <input type="text" name="link_facebook" class="form-control" placeholder="Masukan Link Facebook" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Alamat</label>
                    <input type="text" name="alamat" class="form-control" placeholder="Masukan Alamat" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email Pengaduan</label>
                    <input type="email" name="email_pengaduan" class="form-control" placeholder="Masukan Email Pengaduan" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email Customer Service</label>
                    <input type="email" name="email_cs" class="form-control" placeholder="Masukan Email Customer Service" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Nomor Pengaduan</label>
                    <input type="text" name="no_pengaduan" class="form-control" placeholder="Masukan Nomor Pengaduan" />
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function Hapus_kontak(id) {
        // Show confirmation dialog
        Swal.fire({
            title: 'Apakah kamu yakin ingin menghapus?',
            showCancelButton: true,
            confirmButtonText: 'Konfirmasi',
            cancelButtonText: 'Batal',
            confirmButtonColor: '#d33',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `delete/${id}`,
                    dataType: "html",
                    timeout: 10000,
                    beforeSend: function() {
                        Swal.fire({
                            title: 'Memproses...',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                            showCancelButton: false,
                            showConfirmButton: false,
                        });
                        Swal.showLoading();
                    },
                    success: function(response) {
                        Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                        setTimeout(function() {
                            window.location.reload();
                        }, 2000); 
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                    }
                });
            }
        });

    };
</script>
{% endblock main %}


{% block js %}
<!-- Script to handle CRUD operations via AJAX and Bootstrap modal -->

{% endblock js %}