{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}
<!-- Button to Add New User -->
<div class="page-header">
    <div>
        <h1 class="page-title">Kontak</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Kontak</a></li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addKontakModal">
            <span>
                <i class="fe fe-plus"></i>
            </span> Tambah Kontak
        </a>
        <a href="#" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fe fe-log-in"></i>
            </span> Export
        </a>
    </div>
</div>

<!-- User Table -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Kontak</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0 w-5">Nama Instansi</th>
                                <th class="bg-transparent border-bottom-0 w-5">Maps</th>
                                <th class="bg-transparent border-bottom-0">Instagram</th>
                                <th class="bg-transparent border-bottom-0">Twitter</th>
                                <th class="bg-transparent border-bottom-0">Facebook</th>
                                <th class="bg-transparent border-bottom-0 w-5">Alamat</th>
                                <th class="bg-transparent border-bottom-0 w-5">Email Pengaduan</th>
                                <th class="bg-transparent border-bottom-0 w-5">Email CS</th>
                                <th class="bg-transparent border-bottom-0 w-5">No Pengaduan</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for kontak in dt_kontak %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.nama_instansi }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.maps }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.link_ig }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.link_twitter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.link_facebook }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.alamat }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.email_pengaduan }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.email_cs }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ kontak.no_pengaduan }}</td>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addKontakModal" tabindex="-1" aria-labelledby="addKontakModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addKontakModalLabel">Tambah Kontak</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'admin_setori:add_kontak' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Instansi</label>
                    <input type="text" name="nama_instansi" class="form-control" placeholder="Masukan Instansi" required />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Maps</label>
                    <input type="text" name="maps" class="form-control" placeholder="Masukan Maps" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Instagram</label>
                    <input type="text" name="link_ig" class="form-control" placeholder="Masukan Link Instagram" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Twitter</label>
                    <input type="text" name="link_twitter" class="form-control" placeholder="Masukan Link Twitter" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Facebook</label>
                    <input type="text" name="link_facebook" class="form-control" placeholder="Masukan Link Facebook" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Alamat</label>
                    <input type="text" name="alamat" class="form-control" placeholder="Masukan Alamat" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email Pengaduan</label>
                    <input type="email" name="email_pengaduan" class="form-control" placeholder="Masukan Email Pengaduan" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email Customer Service</label>
                    <input type="email" name="email_cs" class="form-control" placeholder="Masukan Email Customer Service" />
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Nomor Pengaduan</label>
                    <input type="text" name="no_pengaduan" class="form-control" placeholder="Masukan Nomor Pengaduan" />
                  </div>
                  <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock main %}


{% block js %}
<!-- Script to handle CRUD operations via AJAX and Bootstrap modal -->

{% endblock js %}