{% extends 'setori/base_layout/base_layout.html' %} 
{% load static %}

{% block css %}
<style>
/* Dropdown */
/* Dropdown Button Styles */
.dropbtn {
    background-color: #367588;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.dropbtn i {
    margin-left: 5px; /* Spasi antara teks dan ikon */
}

/* Change background color on hover */
.dropbtn:hover {
    background-color: #367588;
}

/* Dropdown Container Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    opacity: 0; /* Awalnya tidak terlihat */
    transition: opacity 0.3s ease;
    transform: translateY(10px); /* Efek sliding */
}

/* Dropdown links */
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

/* Change background color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show Dropdown Content on Hover */
.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1; /* Menampilkan dropdown */
    transform: translateY(0); /* Menghilangkan efek sliding */
}

/* Search bar */
/* Search Container Styles */
.search-container {
    display: flex;
    align-items: center;
}

/* Search Input Styles */
.search-input {
    padding: 10px 15px;
    border: 2px solid #367588;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    width: 200px; /* Lebar input bisa disesuaikan */
    transition: border-color 0.3s;
}

/* Search Input Hover Effect */
.search-input:focus {
    border-color: #0056b3;
}

/* Search Button Styles */
.search-button {
    padding: 10px 15px;
    background-color: #367588;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

/* Change background color on hover */
.search-button:hover {
    background-color: #0056b3;
}

/* Font Awesome Icon Size */
.search-button i {
    font-size: 16px; /* Ukuran ikon */
}

.judul_berita {
  color: #000; /* Warna default, sesuaikan dengan kebutuhan Anda */
  transition: color 0.2s ease; /* Efek transisi */
}

.judul_berita:hover {
  color: #164b85; /* Warna saat di-hover, sesuaikan dengan kebutuhan Anda */
}



</style>
{% endblock css %}

{% block main %} 
        <!-- header -->
        <div class="body">
            <div class="page-header" style="position: relative; margin-bottom: 0; overflow: hidden;">
                <img src="{% static 'img/header/atasan.jpg' %}" alt="Header Background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
                <div class="container p-relative z-index-1 py-2">
                    <div class="row mh-200px mh-lg-300px align-items-center py-4">
                        <div class="col">
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <h1 class="text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Berita</h1>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                                    <li><a href="{% url 'app_setori:index_home' %}" class="text-light text-decoration-none">Beranda</a></li>
                                    <li class="active text-color-light opacity-7">Berita</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-grey-100 px-3 px-xl-0 border-radius-2-bottom p-relative overflow-hidden">
            <!-- News -->
            <div class="container">
                <div class="row pt-5">
                    {% for berita in page_obj %}
                    <div class="col-lg-4 mb-4 pb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                        <article class="post">
                            <div class="card rounded-3 border-0 bg-transparent box-shadow-10 box-shadow-1 box-shadow-1-hover anim-hover-translate-top-10px transition-3ms">
                                <div class="p-relative rounded-3 overflow-hidden">
                                    <a href="{% url 'app_setori:detail_berita' berita.slug %}" class="text-decoration-none">
                                        <img class="card-img-top" src="{{ berita.thumbnail.url }}" loading="lazy" alt="Card Image" width="100%" height="200px" object-fit="cover">
                                    </a>
                                    <div class="card-body bg-light p-4">
                                        <span class="badge badge-dark badge-sm rounded-pill text-uppercase me-1">{{ berita.category.name }}</span>
                                        <h4 class="my-2">
                                            <a href="{% url 'app_setori:detail_berita' berita.slug %}" class="judul_berita">
                                              {{ berita.title }}
                                            </a>
                                        </h4>                                          
                                        <p class="card-text text-3-5 mb-1"><p>{{ berita.content|safe|slice:":97" }}...</p>
                                        <a href="{% url 'app_setori:detail_berita' berita.slug %}" class="read-more text-color-secondary font-weight-semibold text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
                                        <div class="d-flex align-items-center mt-3 pt-1">
                                            <img src="img/avatars/avatar.jpg" loading="lazy" class="img-fluid rounded-circle me-2" width="25" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                    
                </div>
                <!-- Kontrol Pagination -->
                <div class="pt-3 pb-5">
                    <ul class="pagination pagination-rounded pagination-md justify-content-center">
                        <!-- Previous Page Link -->
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link bg-transparent text-dark" href="?page={{ page_obj.previous_page_number }}" data-cursor-effect-hover="fit"><i class="fas fa-angle-left"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link bg-transparent text-dark"><i class="fas fa-angle-left"></i></span>
                        </li>
                        {% endif %}

                        <!-- Page Number Links -->
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link bg-secondary text-light border-color-secondary" href="?page={{ num }}" data-cursor-effect-hover="fit">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                        <li class="page-item"><a class="page-link bg-transparent text-dark" href="?page={{ num }}" data-cursor-effect-hover="fit">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}

                        <!-- Next Page Link -->
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link bg-transparent text-dark" href="?page={{ page_obj.next_page_number }}" data-cursor-effect-hover="fit"><i class="fas fa-angle-right"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <span class="page-link bg-transparent text-dark"><i class="fas fa-angle-right"></i></span>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasMain" aria-labelledby="offcanvasMain">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="mb-4" id="offCanvasLogo"></div>
        <nav class="offcanvas-nav w-100" id="offCanvasNav"></nav>
    </div>
</div>

{% endblock main %} 