{% extends 'setori/base_layout/base_layout.html' %} 
{% load static %}

{% block main %} 
<div class="bg-grey-100 px-3 px-xl-0 border-radius-2-bottom p-relative overflow-hidden">
                <!-- header -->
                <div class="body">
                    <div class="page-header" style="position: relative; margin-bottom: 0; overflow: hidden;">
                        <img src="{% static 'img/header/atasan.jpg' %}" alt="Header Background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
                        <div class="container p-relative z-index-1 py-2">
                            <div class="row mh-200px mh-lg-300px align-items-center py-4">
                                <div class="col">
                                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                        <h1 class="text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Data Pokok</h1>
                                    </div>
                                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                                            <li><a href="{% url 'app_setori:index_home' %}" class="text-light text-decoration-none">Beranda</a></li>
                                            <li class="active text-color-light opacity-7">Data Pokok</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				<!-- Jumlah Penduduk -->
				<div class="container">
                    <div class="row py-5">
                        <div class="col-lg-3 mb-4 mb-sm-5 mb-lg-0">
                            <div class="feature-box appear-animation d-flex flex-column align-items-center text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                                <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center mb-3">
                                    <div class="p-absolute opacity-2 rotate-l-10">
                                        <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                    </div>
                                    <img src="{% static 'img/icons/ikon_jumlah_orang/jiwa.png' %}" width="150" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                                </div>
                                <div class="feature-box-info w-100">
                                    <h4 class="feature-title mb-1">Total Penduduk</h4>
                                    <p class="feature-subtitle mb-0 pt-1 line-height-6">{{ jumlah.total_penduduk|default:"0"}}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 mb-4 mb-sm-5 mb-lg-0">
                            <div class="feature-box appear-animation d-flex flex-column align-items-center text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                                <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center mb-3">
                                    <div class="p-absolute opacity-2 rotate-l-10">
                                        <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                    </div>
                                    <img src="{% static 'img/icons/ikon_jumlah_orang/laki.png' %}" width="150" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                                </div>
                                <div class="feature-box-info w-100">
                                    <h4 class="feature-title mb-1">Total Pria</h4>
                                    <p class="feature-subtitle mb-0 pt-1 line-height-6">{{ jumlah.total_pria|default:"0" }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-4 mb-sm-5 mb-lg-0">
                            <div class="feature-box appear-animation d-flex flex-column align-items-center text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                                <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center mb-3">
                                    <div class="p-absolute opacity-2 rotate-l-10">
                                        <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                    </div>
                                    <img src="{% static 'img/icons/ikon_jumlah_orang/wanita.png' %}" width="150" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                                </div>
                                <div class="feature-box-info w-100">
                                    <h4 class="feature-title mb-1">Total Wanita</h4>
                                    <p class="feature-subtitle mb-0 pt-1 line-height-6">{{ jumlah.total_wanita|default:"0" }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 mb-4 mb-sm-5 mb-lg-0">
                            <div class="feature-box appear-animation d-flex flex-column align-items-center text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                                <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center mb-3">
                                    <div class="p-absolute opacity-2 rotate-l-10">
                                        <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                    </div>
                                    <img src="{% static 'img/icons/ikon_jumlah_orang/family.png' %}" width="150" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                                </div>
                                <div class="feature-box-info w-100">
                                    <h4 class="feature-title mb-1">Total Keluarga</h4>
                                    <p class="feature-subtitle mb-0 pt-1 line-height-6">{{ jumlah.total_kk|default:"0" }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--chart-->
                <div class="container">
                    <div class="row pt-5">
                        <div class="shadow-sm col-lg-6 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div id="oap_non_oap"></div>
                        </div>
                        <div class="shadow-sm col-lg-6 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div id="wanita_pria"></div>
                        </div>
                        <div class="shadow-sm col-lg-6 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div id="charts-container"></div> <!-- Kontainer untuk menampilkan semua grafik -->
                        </div>
                        {% for jenis in dt_array_jenis %}
                            <div class="shadow-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                                <a href="{% url 'app_setori:detail_data' %}">
                                    <div id="{{ jenis.nama_jenis }}"></div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% for jenis in dt_array_jenis %}
                
                {% endfor %}

                <script>
                    // JavaScript untuk memanggil dan membuat chart
                    fetch('/api/tenaga-kesehatan-data/') // Ganti dengan endpoint API Anda
                        .then(response => response.json())
                        .then(data => {
                            const groupedData = data.data;
            
                            for (const [fk_jenis, chartData] of Object.entries(groupedData)) {
                                // Buat elemen div baru untuk setiap chart
                                const chartContainer = document.createElement('div');
                                chartContainer.id = `chart_${fk_jenis.replace(/\s+/g, '_')}`;
                                chartContainer.style.marginBottom = '50px';
                                document.getElementById('charts-container').appendChild(chartContainer);
            
                                // Render chart
                                Highcharts.chart(chartContainer.id, {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: `Distribusi Tenaga Kesehatan (${fk_jenis})`,
                                        align: 'middle'
                                    },
                                    xAxis: {
                                        categories: chartData.categories, // Data kategori
                                        crosshair: true
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'Jumlah Tenaga Kesehatan'
                                        }
                                    },
                                    tooltip: {
                                        shared: true,
                                        valueSuffix: ' orang'
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0,
                                            groupPadding: 0.1
                                        }
                                    },
                                    series: [
                                        {
                                            name: 'OAP',
                                            data: chartData.oap // Data OAP
                                        },
                                        {
                                            name: 'non-OAP',
                                            data: chartData.non_oap // Data non-OAP
                                        }
                                    ]
                                });
                            }
                        })
                        .catch(error => console.error('Error fetching chart data:', error));
                </script>




<script>
    // oap non oap
    Highcharts.chart('oap_non_oap', {
        chart: {
        
            type: 'pie',
            custom: {},
            events: {
                render() {
                    const chart = this,
                        series = chart.series[0];
                    let customLabel = chart.options.chart.custom.label;

                    if (!customLabel) {
                        customLabel = chart.options.chart.custom.label =
                            chart.renderer.label(
                                'Total<br/>' +
                                '<strong>{{ jumlah.total_penduduk|default:"0"}}</strong>' // Update total population
                            )
                            .css({
                                color: '#000',
                                textAnchor: 'middle'
                            })
                            .add();
                    }

                    const x = series.center[0] + chart.plotLeft,
                        y = series.center[1] + chart.plotTop -
                        (customLabel.attr('height') / 2);

                    customLabel.attr({
                        x,
                        y
                    });
                    customLabel.css({
                        fontSize: `${series.center[2] / 12}px`
                    });
                }
            }
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        title: {
            text: 'Population Distribution (OAP dan NON OAP)'
        },
        subtitle: {
            text: 'Source: Dinas Kesehatan Kabupaten Supiori'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.z} ({point.percentage:.0f}%)</b>' // Show both count and percentage
        },
        legend: {
            enabled: true // Enable legend to show OAP and NON OAP
        },
        colors: ['#0097D2', '#A7E6BD'], // Warna merah dan kuning
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                borderRadius: 8,
                dataLabels: [{
                    enabled: true,
                    distance: 20,
                    format: '{point.name}'
                }, {
                    enabled: true,
                    distance: -15,
                    format: '{point.percentage:.0f}%',
                    style: {
                        fontSize: '0.9em'
                    }
                }],
                showInLegend: true,
                animation: {
                    duration: 2000 // Durasi animasi dalam milidetik (contoh 2 detik)
                }
            }
        },
        series: [{
            name: 'Population',
            colorByPoint: true,
            innerSize: '75%',
            data: [{
                name: 'OAP',
                y: '{{ jumlah.total_oap|default:"0"}}' / '{{ jumlah.total_penduduk|default:"0"}}' * 100, // OAP percentage
                z: '{{ jumlah.total_oap|default:"0"}}' // Actual number of OAP
            }, {
                name: 'NON OAP',
                y: '{{ jumlah.total_non_oap|default:"0"}}' / '{{ jumlah.total_penduduk|default:"0"}}' * 100, // NON OAP percentage
                z: '{{ jumlah.total_non_oap|default:"0"}}' // Actual number of NON OAP
            }]
        }]
    });

    // wanita pria
    Highcharts.chart('wanita_pria', {
        chart: {
        
            type: 'pie',
            custom: {},
            events: {
                render() {
                    const chart = this,
                        series = chart.series[0];
                    let customLabel = chart.options.chart.custom.label;

                    if (!customLabel) {
                        customLabel = chart.options.chart.custom.label =
                            chart.renderer.label(
                                'Total<br/>' +
                                '<strong>{{ jumlah.total_penduduk|default:"0"}}</strong>' // Update total population
                            )
                            .css({
                                color: '#000',
                                textAnchor: 'middle'
                            })
                            .add();
                    }

                    const x = series.center[0] + chart.plotLeft,
                        y = series.center[1] + chart.plotTop -
                        (customLabel.attr('height') / 2);

                    customLabel.attr({
                        x,
                        y
                    });
                    customLabel.css({
                        fontSize: `${series.center[2] / 12}px`
                    });
                }
            }
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        title: {
            text: 'Gender Distribution (Pria dan Wanita)'
        },
        subtitle: {
            text: 'Source: Dinas Kesehatan Kabupaten Supiori'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.z} ({point.percentage:.0f}%)</b>' // Show both count and percentage
        },
        legend: {
            enabled: true // Enable legend to show OAP and NON OAP
        },
        colors: ['#0097D2', '#A7E6BD'], // Warna merah dan kuning
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                borderRadius: 8,
                dataLabels: [{
                    enabled: true,
                    distance: 20,
                    format: '{point.name}'
                }, {
                    enabled: true,
                    distance: -15,
                    format: '{point.percentage:.0f}%',
                    style: {
                        fontSize: '0.9em'
                    }
                }],
                showInLegend: true
            }
        },
        series: [{
            name: 'Population',
            colorByPoint: true,
            innerSize: '75%',
            data: [{
                name: 'Pria',
                y: '{{ jumlah.total_pria|default:"0"}}' / '{{ jumlah.total_penduduk|default:"0"}}' * 100, // OAP percentage
                z: '{{ jumlah.total_pria|default:"0"}}' // Actual number of OAP
            }, {
                name: 'Wanita',
                y: '{{ jumlah.total_wanita|default:"0"}}' / '{{ jumlah.total_penduduk|default:"0"}}' * 100, // NON OAP percentage
                z: '{{ jumlah.total_wanita|default:"0"}}' // Actual number of NON OAP
            }]
        }]
    });

    

 
    // //air bersih
    // {% for jenis in dt_array_jenis %}
    // Highcharts.chart('{{ jenis.nama_jenis }}', {
    //     chart: {
    //         type: 'column'
    //     },
    //     title: {
    //         text: ' ',
    //         align: 'middle'
    //     },
    //     subtitle: {
    //         text: 'Source: Data Spreadsheet',
    //         align: 'middle'
    //     },
    //     xAxis: {
    //         categories: [
    //             {% for indikator in dt_array_indikator %}
    //                 {{ indikator.nama_indikator }}
    //             {% endfor %}
    //         ],
    //         crosshair: true,
    //         accessibility: {
    //             description: ' '
    //         }
    //     },
    //     yAxis: {
    //         min: 0,
    //         title: {
    //             text: ' '
    //         }
    //     },
    //     tooltip: {
    //         shared: true,
    //         valueSuffix: ' '
    //     },
    //     plotOptions: {
    //         column: {
    //             pointPadding: 0.2, // Mengurangi pointPadding untuk membuat jarak antar bar lebih kecil
    //             borderWidth: 0,
    //             groupPadding: 0.1 // Menambahkan groupPadding untuk membuat grup bar lebih renggang
    //         }
    //     },
    //     {% for kesehatan in dt_array_kesehatan %}
    //     series: [
    //         {
    //             name: 'OAP',
    //             data: [
    //                 {{ kesehatan.oap }}
    //             ]
    //         },
    //         {
    //             name: 'non-OAP',
    //             data: [
    //                 {{ kesehatan.non_oap }}
    //             ]
    //         }
    //     ]
    //     {% endfor %}
    // });
    // {% endfor %}

    // tenaga kesehatan
    // Highcharts.chart('tenaga_kesehatan', {
    //     chart: {
    //         type: 'column'
    //     },
    //     title: {
    //         text: 'Distribusi Tenaga Kesehatan di Supiori',
    //         align: 'middle'
    //     },
    //     subtitle: {
    //         text: 'Source: Data Spreadsheet',
    //         align: 'middle'
    //     },
    //     xAxis: {
    //         categories: [
    //             'Dokter Umum',
    //             'Dokter Spesialis',
    //             'Perawat',
    //             'Bidan',
    //             'Apoteker',
    //             'Ahli Gizi',
    //             'Sanitarian',
    //             'Fisioterapis',
    //             'Psikolog',
    //             'Dukun'
    //         ],
    //         crosshair: true,
    //         accessibility: {
    //             description: 'Profesi'
    //         }
    //     },
    //     yAxis: {
    //         min: 0,
    //         title: {
    //             text: 'Jumlah Tenaga Kesehatan'
    //         }
    //     },
    //     tooltip: {
    //         shared: true,
    //         valueSuffix: ' orang'
    //     },
    //     plotOptions: {
    //         column: {
    //             pointPadding: 0.2, // Mengurangi pointPadding untuk membuat jarak antar bar lebih kecil
    //             borderWidth: 0,
    //             groupPadding: 0.1 // Menambahkan groupPadding untuk membuat grup bar lebih renggang
    //         }
    //     },
    //     series: [
    //         {
    //             name: 'OAP',
    //             data: [50, 30, 100, 70, 20, 10, 5, 3, 2, 50]
    //         },
    //         {
    //             name: 'non-OAP',
    //             data: [60, 40, 110, 80, 30, 20, 15, 13, 12, 60]
    //         }
    //     ]
    // });

    // //sarana kesehatan
    // Highcharts.chart('sarana_kesehatan', {
    //     chart: {
    //         type: 'column'
    //     },
    //     title: {
    //         text: 'Distribusi Sarana Kesehatan di Supiori',
    //         align: 'middle'
    //     },
    //     subtitle: {
    //         text: 'Source: Data Spreadsheet',
    //         align: 'middle'
    //     },
    //     xAxis: {
    //         categories: [
    //             'Rumah Sakit',
    //             'Puskesmas',
    //             'Klinik',
    //             'Poliklinik',
    //             'Posyandu',
    //             'Apotek',
    //             'Lab Kesehatan',
    //             'Rumah Bersalin',
    //             'Panti Jompo',
    //             'UGD',
    //             'Klinik Kesehatan Mental'
    //         ],
    //         crosshair: true,
    //         accessibility: {
    //             description: 'Jenis Sarana Kesehatan'
    //         }
    //     },
    //     yAxis: {
    //         min: 0,
    //         title: {
    //             text: 'Jumlah Sarana Kesehatan'
    //         }
    //     },
    //     tooltip: {
    //         shared: true,
    //         pointFormat: '<b>{series.name}</b>: {point.y}<br>', // Menampilkan nama distrik dan jumlah
    //         headerFormat: '' // Menghilangkan header format
    //     },
    //     plotOptions: {
    //         column: {
    //             pointPadding: 0.2, // Mengurangi pointPadding untuk membuat jarak antar bar lebih kecil
    //             borderWidth: 0,
    //             groupPadding: 0.1 // Menambahkan groupPadding untuk membuat grup bar lebih renggang
    //         }
    //     },
    //     series: [
    //         {
    //             name: 'Supiori Utara',
    //             data: [100, 150, 120, 80, 50, 30, 20, 10, 5, 10, 8] // Data untuk Supiori Utara
    //         },
    //         {
    //             name: 'Supiori Selatan',
    //             data: [80, 100, 90, 70, 40, 25, 15, 12, 7, 8, 5] // Data untuk Supiori Selatan
    //         },
    //         {
    //             name: 'Supiori Timur',
    //             data: [120, 200, 150, 100, 60, 40, 25, 20, 10, 15, 12] // Data untuk Supiori Timur
    //         },
    //         {
    //             name: 'Supiori Barat',
    //             data: [90, 130, 110, 90, 70, 35, 30, 15, 5, 10, 7] // Data untuk Supiori Barat
    //         },
    //         {
    //             name: 'Kepulauan Aruri',
    //             data: [110, 160, 140, 95, 75, 45, 35, 25, 15, 20, 10] // Data untuk Kepulauan Aruri
    //         }
    //     ]
    // });
    
    // //penyakit menular
    // // Highcharts.chart('penyakit_menular', {
    //             chart: {
    //                 type: 'column'
    //             },
    //             title: {        
    //             text: 'Data Penyakit menular',
    //             align: 'middle',
    //         },

    //             subtitle: {
    //                 text: 'Source: Data Spreadsheet',
    //                 align: 'middle'
    //             },
    //             xAxis: {
    //                 categories: [
    //                     'Tuberkulosis',
    //                     'Malaria',
    //                     'DBD',
    //                     'HIV',
    //                     'Hepatitis'
                        
    //                 ],
    //                 crosshair: true,
    //                 accessibility: {
    //                     description: 'Jenis penyakit menular'
    //                 }
    //             },
    //             yAxis: {
    //                 min: 0,
    //                 title: {
    //                     text: 'Jumlah Penderita'
    //                 }
    //             },
    //             tooltip: {
    //                 shared: true,
    //                 valueSuffix: ' orang'
    //             },
    //             plotOptions: {
    //                 column: {
    //                     pointPadding: 0.2, // Mengurangi pointPadding untuk membuat jarak antar bar lebih kecil
    //                     borderWidth: 0,
    //                     groupPadding: 0.1 // Menambahkan groupPadding untuk membuat grup bar lebih renggang
    //                 }
    //             },
    //             series: [
    //                 {
    //                     name: 'OAP',
    //                     data: [960, 742, 520, 133, 290]
    //                 },
    //                 {   
    //                     name: 'non-OAP',
    //                     data: [562, 932, 690, 530, 300]
    //                 }
    //             ]
    //         });



</script>

</div>
{% endblock main %} 