
{% extends 'admin/base_layout/index.html' %}
{% load static %}
{% block main %}
<div class="page-header">
    <div>
        <h1 class="page-title">Setting tentang kami</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Setting</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tentang kami</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">Setting tentang kami</h3>
            </div>
            <div class="card-body">
                <form action="{% if edit %}{% url 'admin_setori:edit_tentang' id_tentang %} {% else %} {% url 'admin_setori:add_tentang' %} {% endif %}" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="row row-sm">
                        <div class="col-6">
                            <div class="col-lg">
                                <label for="">Kata Pengantar</label>
                                <textarea name="pengantar_tentang" class="form-control form-control-lg  mb-4" value="{{ dt_tentang.pengantar }}" required></textarea>
                                <label for="">Nama Kepala Dinas</label>
                                <input name="nama_kepala" class="form-control form-control-lg mb-4" value="{{ dt_tentang.nama_kepala_dinas }}" required>
                                <label for="">Jabatan</label>
                                <input name="jabatan_kepala" class="form-control form-control-lg"  type="text" value="{{ dt_tentang.jabatan_kepala }}" required>
                                <label for="">Nama sekretaris Dinas</label>
                                <input name="nama_sekretaris" class="form-control form-control-lg  mb-4"  type="text" value="{{ dt_tentang.nama_sekretaris }}" required>
                                <label for="">Jabatan</label>
                                <input name="jabatan_sekretaris" class="form-control form-control-lg  mb-4"  type="text" value="{{ dt_tentang.jabatan_sekretaris }}" required>
                                <label for="">Deskripsi Singkat</label>
                                <textarea name="deskripsi_singkat_dt_tentang" id="" class="form-control form-control-lg  mb-4" value="{{ dt_tentang.deskripsi_singkat }}" required></textarea>
                                <label for="">Sambutan Kepala Dinas</label>
                                <textarea name="kata_kepala" id="" class="form-control form-control-lg  mb-4" value="{{ dt_tentang.kata_kepala }}" required></textarea>
                                <label for="">Sambutan sekretaris Dinas</label>
                                <textarea name="kata_sekretaris" id="" class="form-control form-control-lg  mb-4" value="{{ dt_tentang.kata_sekretaris }}" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="col-lg">
                                <label for="">Foto Kepala Dinas</label>
                                <input name="foto_kepala" class="form-control form-control-sm  mb-4 dropify"  type="file" value="{{ dt_tentang.foto_kepala.url }}" required>
                                <label for="">Foto sekretaris Dinas</label>
                                <input name="foto_sekretaris" class="form-control  mb-4 dropify"  type="file" value="{{ dt_tentang.foto_sekretaris.url }}" required>
                                <label for="">Thumbnail Profil</label>
                                <input name="thumbnail_profil" class="form-control  mb-4 dropify"  type="file" value="{{ dt_tentang.foto_pegantar.url }}" required>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Simpan Data
                        </button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>

{% endblock main %}