{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        {% for kesehatan in dt_kesehatan %}
        <h1 class="page-title">Detail {{ kesehatan.nama_jenis }}</h1>
        
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_setori:master_jenis_kesehatan' %}">Jenis Data Kesehatan</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ kesehatan.nama_jenis }}</li>
        </ol>
        {% endfor %}
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#addModal" onclick="Tambah_indikator()">
            <span>
                <i class="fe fe-plus"></i>
            </span> Tambah data 
        </a>
        <a href="#" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fe fe-log-in"></i>
            </span> Riwayat
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Indikator</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for indikator in dt_indikator %}
                          
                            <tr class="border-bottom" >
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ indikator.nama_indikator }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                        <a class="btn btn-primary btn-md rounded-11 me-2" 
                                            href="#" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#addModal" 
                                            data-bs-id="{{ indikator.id_indikator }}" 
                                            data-bs-indikator="{{ indikator.nama_indikator }}"
                                            onclick="edit_Indikator()"
                                            >
                                            <i class="fa-solid fa-pen-to-square"></i>Edit 
                                        </a>
                                        
                                        <!--delete kategori-->
                                            <a >
                                                <button type="submit" class="btn btn-danger" onclick="Hapus_indikator('{{indikator.id_indikator }}')">
                                                    <i class="fe fe-trash"></i> Hapus
                                                </button>     
                                            </a>

                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Identitas Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Edit jenis Data Kesehatan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                  {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Indikator</label>
                        <input type="text" name="nama_indikator" id="nama_indikator" class="form-control" placeholder="Masukkan Jenis data Kesehatan" required />
                    </div>
                    {% for kesehatan in dt_kesehatan %}
                    <div class="mb-3">
                        <input type="hidden" name="jenis_kesehatan" id="jenis_kesehatan" value="{{ kesehatan.jenis_kesehatan_id }}" class="form-control" placeholder="Masukkan Jenis data Kesehatan" required />
                    </div>
                    {% endfor %}
                    <button type="submit"  class="btn btn-primary">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var KesehatanModal = document.getElementById('addModal');

    function Tambah_indikator(){
        var form = KesehatanModal.querySelector('form');
        document.getElementById('addModalLabel').textContent = 'Tambahkan Indikator kesehatan';
        form.action = "{% url 'admin_setori:add_indikator' %}";
    };

    var editIndikatorModal = document.getElementById('addModal');
    editIndikatorModal.addEventListener('show.bs.modal', function edit_Indikator() {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        var IndikatorId = button.getAttribute('data-bs-id');
        var Indikator = button.getAttribute('data-bs-indikator');
        
       
        // Update the modal's form fields
        var modalTitle = editIndikatorModal.querySelector('.modal-title');
        var inputIndikator = editIndikatorModal.querySelector('#nama_indikator');
   
        var form = editIndikatorModal.querySelector('form');

        modalTitle.textContent = 'Edit ' + Indikator;
        inputIndikator.value = Indikator;
       

       
        form.action = "{% url 'admin_setori:edit_idikator' 'holder' %}".replace('holder', IndikatorId);
        
    });


    function Hapus_indikator(id_indikator) {
    Swal.fire({
        title: 'Apakah kamu yakin ingin menghapus?',
        showCancelButton: true,
        confirmButtonText: 'Konfirmasi',
        cancelButtonText: 'Batal',
        confirmButtonColor: '#d33',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: `delete_indikator/${id_indikator}`,
                dataType: "html",
                timeout: 10000,
                beforeSend: function() {
                    Swal.fire({
                        title: 'Memproses...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function(response) {
                    Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000); 
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                }
            });
        }
    });
    };

</script>
{% endblock main %}
{% block js %}
{% endblock js %}