{% extends 'setori/base_layout/base_layout.html' %} 
{% load static %}
{% block css %}
<style>
    .header {
        background-color: #6c757d;
        padding: 10px;
        color: white;
    }
    .section-title {
        text-align: center;
        margin: 20px 0;
    }
    .content {
        padding: 20px;
    }
    .data-section, .info-section {
        border: 1px solid #dee2e6;
        margin-bottom: 20px;
        padding: 15px;
    }
    .table-custom th, .table-custom td {
        padding: 10px;
    }
    .section-title {
            text-align: center;
            margin: 20px 0;
            font-weight: bold;
            font-size: 1.5rem;
            border-bottom: 2px solid #dee2e6;
            display: inline-block;
            padding-bottom: 5px;
        }
        .card-header-custom {
            background-color: #367588;
            color: white;
            font-weight: bold;
        }
        .info-section p {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .data-section {
            margin: 20px 0;
        }
        .data-section h3 {
            text-align: center;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 1.5rem;
        }
        .data-section p {
            background-color: #f8f9fa;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .info-title {
            text-align: center;
            font-weight: bold;
            margin: 20px 0;
        }
        .map-container img {
            width: 100%;
            border-radius: 5px;
            margin-top: 20px;
        }
        .content-container {
            text-align: center;
        }
        .tab-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f9fa; /* Warna background untuk container tab */
            border-radius: 8px;
            padding: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan untuk container tab */
        }

        .tab-controls .tab-link {
            text-decoration: none;
            color: #495057; /* Warna teks */
            font-weight: bold;
            padding: 10px 20px;
            margin: 0 5px;
            border-radius: 5px;
            transition: all 0.3s ease; /* Efek transisi untuk interaksi */
        }

        .tab-controls .tab-link:hover {
            background-color: #e9ecef; /* Warna background saat hover */
            color: #212529; /* Warna teks saat hover */
        }

        .tab-controls .tab-link.active {
            background-color: #367588; /* Warna background untuk tab aktif */
            color: #ffffff; /* Warna teks untuk tab aktif */
        }

        .tab-controls .tab-link.active:after {
            content: '';
            display: block;
            margin: auto;
            height: 3px;
            width: 50%;
            background: #ffffff; /* Garis di bawah tab aktif */
        }

</style> 
{% endblock css %} 

{% block main %}  
<div class="body">
    <div class="page-header" style="position: relative; margin-bottom: 0; overflow: hidden;">
        <img src="{% static 'img/header/atasan.jpg' %}" alt="Header Background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
        <div class="container p-relative z-index-1 py-2">
            <div class="row mh-200px mh-lg-300px align-items-center py-4">
                <div class="col">
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h1 class="text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Potensi Daerah</h1>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                            <li><a href="{% url 'app_setori:index_home' %}"  class="text-light text-decoration-none">Beranda</a></li>
                            <li class="active text-color-light opacity-7">Potensi Daerah</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Data deskripsi -->
    <div class="row content">
        <div class="col-md-6 data-section">
            <div class="container">
                <div class="row data-section">
                    <div class="col-12">
                        <div class="card">
                            <div style="display: flex; justify-content: center;">
                                <img src="{{ dt_info_wilayah.image_profile.url }}" class="card-img-top" style="width: 80%; height: auto;">
                            </div>
                            <div class="card-body">
                                <h3>Informasi</h3>
                                <div class="content-container">
                                    <p><strong>Wilayah:</strong> {{ dt_info_wilayah.wilayah.wilayah_nama }}</p>
                                    <p><strong>Distrik:</strong> {{ dt_info_wilayah.wilayah.wilayah_parent.wilayah_nama }}</p>
                                    <p><strong>Luas Wilayah:</strong> </p>
                                    <p><strong>Jumlah Penduduk:</strong> </p>
                                    <p><strong>Kepadatan Penduduk:</strong> </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row data-section">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h3>Maps</h3>
                                <div class="map-container" style="height: 400px;">
                                    {{ dt_info_wilayah.link_maps|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Data detail -->
        <div class="col-md-6 data-section">       
            <div id="tab-group-1" class="card bg-transparent mb-0">
                <div class="rounded-m overflow-hidden mx-3">
                    <div class="tab-controls tabs-large tabs-rounded" data-highlight="bg-dark-dark">
                        <a href="#" class="tab-link active" id="tab-1-link" data-bs-toggle="collapse" data-bs-target="#tab-1">Profil</a>
                        <a href="#" class="tab-link" id="tab-2-link" data-bs-toggle="collapse" data-bs-target="#tab-2">Data Umum</a>
                    </div>
                </div>                               
        
                <div data-bs-parent="#tab-group-1" class="collapse show" id="tab-1">     
                    <!-- Section Title -->
                    <div class="row">
                        <div class="col text-center">
                            <h3 class="section-title">Profil Daerah</h3>
                        </div>
                    </div>
                    <!-- Info Section -->
                    <div class="row">
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-header card-header-custom">
                                    Visi
                                </div>
                                <div class="card-body">
                                    {{ dt_info_wilayah.visi|safe }}
                                </div>
                                <div class="card-header card-header-custom">
                                    Misi
                                </div>
                                <div class="card-body">
                                    {{ dt_info_wilayah.misi|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Facilities Section -->
                    <div class="row">
                        <div class="col">
                            <div class="card mb-4">
                                <div class="card-header card-header-custom">
                                    Sarana dan Prasarana
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class=" ">
                                                <p><strong>Puskesmas:</strong> -</p>
                                                <p><strong>Posyandu:</strong> -</p>
                                                <p><strong>Apotek:</strong> -</p>
                                                <p><strong>Pondok Bersalin:</strong> -</p>
                                                <p><strong>Klinik:</strong> -</p>
                                                <p><strong>Rumah Sakit Umum Daerah:</strong> -</p>
                                                <p><strong>Rumah Sakit Swasta:</strong> -</p>
                                                <p><strong>Rumah Sakit Jiwa:</strong> -</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div data-bs-parent="#tab-group-1" class="collapse" id="tab-2">     
                        <!-- Section Title -->
                        <div class="row">
                            <div class="col text-center">
                                <h3 class="section-title">Data Umum</h3>
                            </div>
                        </div>
                        <!-- Info Section -->
                        <div class="row">
                            <div class="col">
                                <div class="card mb-4">
                                    <div class="card-header card-header-custom">
                                        Info Wilayah
                                    </div>
                                    <div class="card-body">
                                        <p><strong>Kode Kelurahan:</strong> {{ dt_info_wilayah.kode_info_wilayah }}</p>
                                        <p><strong>Kode Pos:</strong> {{ dt_info_wilayah.kode_pos }}</p>
                                        <p><strong>Tahun Pembentukan:</strong> {{ dt_info_wilayah.tahun_pembentukan }}</p>

                                        {% for penduduk in dt_wilayah_penduduk %}
                                        <p><strong>Total Jiwa:</strong> {{ penduduk.total_penduduk }}</p>
                                        <p><strong>Laki-laki:</strong> {{ penduduk.pria_oap|add:penduduk.pria_non_oap }}</p>
                                        <p><strong>Perempuan:</strong> {{ penduduk.wanita_oap|add:penduduk.wanita_non_oap }}</p>
                                        <p><strong>Total OAP:</strong> {{ penduduk.jumlah_penduduk_oap }}</p>
                                        <p><strong>Total Non OAP:</strong> {{ penduduk.jumlah_penduduk_non_oap }}</p>
                                        {% endfor %}
                                        {% for item in data %}
                                        <p><strong>Total Jiwa:</strong> {{ item.total_jiwa }}</p>
                                        <p><strong>Laki-laki:</strong>  {{ item.total_pria_oap|add:item.total_pria_non_oap }}</p>
                                        <p><strong>Perempuan:</strong> {{ item.total_wanita_oap|add:item.total_wanita_non_oap }} </p>
                                        <p><strong>Total OAP:</strong> {{ item.total_oap }} </p>
                                        <p><strong>Total Non OAP:</strong> {{ item.total_non_oap}}</p>
                                        {% endfor %}

                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Facilities Section -->
                        <div class="row">
                            <div class="col">
                                <div class="card mb-4">
                                    <div class="card-header card-header-custom">
                                        Sarana dan Prasarana
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class=" ">
                                                <p><strong>Puskesmas:</strong> -</p>
                                                <p><strong>Posyandu:</strong> -</p>
                                                <p><strong>Apotek:</strong> -</p>
                                                <p><strong>Pondok Bersalin:</strong> -</p>
                                                <p><strong>Klinik:</strong> -</p>
                                                <p><strong>Rumah Sakit Umum Daerah:</strong> -</p>
                                                <p><strong>Rumah Sakit Swasta:</strong> -</p>
                                                <p><strong>Rumah Sakit Jiwa:</strong> -</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

    <!-- Table Section -->
    <div class="row content">
        <div class="col">
            <table class="table table-bordered table-custom">
                <thead>
                    <tr>
                        <th>Nama Distrik</th>
                        <th>Ibu Kota</th>
                        <th>Jumlah Kampung</th>
                        <th>Daftar Kampung</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Supiori Selatan</td>
                        <td>Masyarakat</td>
                        <td>7</td>
                        <td>Awaik, Brak, Bidayam, Famfui, Masyarakat, Odet, Waidori</td>
                    </tr>
                    <tr>
                        <td>Supiori Utara</td>
                        <td>Fanjar</td>
                        <td>5</td>
                        <td>Fanjar, Korido, Jopesi, Warebo, Wirabet</td>
                    </tr>
                    <tr>
                        <td>Supiori Timur</td>
                        <td>Sorendiweri</td>
                        <td>10</td>
                        <td>Doudule, Jekor, Mamdas, Sawata, Sorendiweri, Ansudu, Inswambesi, Kumpuneyendi, Manjasiwona, Ansus Besar</td>
                    </tr>
                    <tr>
                        <td>Kepulauan Aruri</td>
                        <td>Menwaudi</td>
                        <td>4</td>
                        <td>Amdo, Mapia, Mejeni, Napiendi</td>
                    </tr>
                    <tr>
                        <td>Supiori Barat</td>
                        <td>Wayei</td>
                        <td>7</td>
                        <td>Amiyai, Kisyap, Mapia, Mejeni, Napiendi, Wayei</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <style>
        /* Styling untuk iframe */
        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            display: block;
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: relative;
        }

        /* Optional: Wrapper untuk menjaga aspek rasio 16:9 */
        .iframe-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* 16:9 aspect ratio */
            height: 0;
            overflow: hidden;
        }

        .iframe-wrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    </style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const tabLinks = document.querySelectorAll('.tab-controls .tab-link');

    tabLinks.forEach(link => {
        link.addEventListener('click', function () {
            // Remove active class from all tab links
            tabLinks.forEach(tab => tab.classList.remove('active'));
            // Add active class to the clicked tab link
            this.classList.add('active');

            // Hide all tab content
            document.querySelectorAll('.tab-content .collapse').forEach(tabContent => {
                tabContent.classList.remove('show');
            });

            // Show the corresponding tab content
            const target = this.getAttribute('data-bs-target');
            document.querySelector(target).classList.add('show');
        });
    });
});
</script>
{% endblock main %} 