{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}
<form action="{% url 'admin_setori:edit_identitas' identitas.id %}" method="POST">
    {% csrf_token %}
    <label for="identitas">Identitas:</label>
    <input type="text" id="identitas" name="identitas" value="{{ identitas.identitas }}" required>

    <button type="submit">Update Identitas</button>
</form>



{% endblock main %}
{% block js %}
<!-- Script to handle CRUD operations via AJAX and Bootstrap modal -->

{% endblock js %}