{% extends 'admin/base_layout/index.html' %}
{% block css %}
 
{% endblock css %}
{% block main %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">Info Wilayah</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
       
        {% if data_info_wilayah %}
        <a href="#" class="btn btn-primary btn-icon text-white">
            <span>
                <i class="fa-solid fa-pen-to-square"></i>Edit 
            </span> 
        </a>
        
        {% else %}
        <a href="{% url 'admin_setori:add_info_wilayah' wilayah_id %}" class="btn btn-primary btn-icon text-white me-2" >
            <span>
                <i class="fe fe-plus" ></i>
            </span> Add
        </a>
       
        {% endif %}
        <a href="" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fa-solid fa-rotate-right"></i>
            </span> Histori
        </a>

    </div>
</div>
<!-- User Table -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">info</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">profil</th>
                                <th class="bg-transparent border-bottom-0">visi</th>
                                <th class="bg-transparent border-bottom-0">Misi</th>
                                
                                <th class="bg-transparent border-bottom-0">wilayah</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          {% for info in dt_info_wilayah %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">
                                    <img src="{{ info.image_profile.url }}" alt="logo" style="width: 50px; height: auto;">
                                </td>
                                <td class="text-muted fs-15 fw-semibold">{{ info.visi|slice:":60" }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ info.misi|slice:":60" }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ info.wilayah.wilayah_nama|slice:":60" }}</td>
                             
                                <!-- <td class="text-success fs-15 fw-semibold">Success</td> -->
                                <td class="text-muted fs-15 fw-semibold">
                                    
                                        <a >
                                            <button type="button" class="btn btn-danger" onclick="Hapus_info()">
                                                <i class="fe fe-trash"></i> Hapus
                                            </button>     
                                        </a>
                                        
                                        
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>

<!-- Add dan Edit info Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog col-10">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Tambah Identitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="#" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 mb-3 mb-lg-0">
                            <label class="form-label" for="profil">profil</label>
                            <input type="file" name="profil" id="profil" class="dropify" data-bs-height="180" accept="image/*"  required/>
                        <div class="form-text">Unggah foto profil daerah (format gambar).</div>
                    </div>
                    <div class="mb-3">
                        <label for="map" class="form-label">map</label>
                        <textarea name="map" id="map" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="visi" class="form-label">Visi</label>
                        <textarea name="visi" id="visi" class="form-control" rows="3" required></textarea>
                    </div>
                
                    <div class="mb-3">
                        <label for="misi" class="form-label">Misi</label>
                        <textarea name="misi" id="misi" class="form-control" rows="3" required></textarea>
                    </div>
                
                    <div class="mb-3 col-6 ">
                        <label for="nama_info_wilayah" class="form-label">Nama Kelurahan</label>
                        <input type="text" name="nama_info_wilayah" id="nama_info_wilayah" class="form-control" placeholder="Masukkan Nama Kelurahan" required>
                    </div>
                
                    <div class="mb-3 col-6 ">
                        <label for="kode_info_wilayah" class="form-label">Kode Info Wilayah</label>
                        <input type="text" name="kode_info_wilayah" id="kode_info_wilayah" class="form-control" placeholder="Masukkan Kode Wilayah" required>
                    </div>
                
                    <div class="mb-3 col-6">
                        <label for="dasar_hukum_pembentukan" class="form-label">Dasar Hukum Pembentukan</label>
                        <input name="dasar_hukum_pembentukan" id="dasar_hukum_pembentukan" class="form-control" rows="3" required></input>
                    </div>
                    <div class="mb-3 col-6" >
                        <label for="tahun_pembentukan" class="form-label">Tahun Pembentukan</label>
                        <input type="number" name="tahun_pembentukan" id="tahun_pembentukan" class="form-control" placeholder="Masukkan Tahun Pembentukan" required>
                    </div>
                    <div class="mb-3 col-6">
                        <label for="kode_pos" class="form-label">Kode Pos</label>
                        <input type="text" name="kode_pos" id="kode_pos" class="form-control" placeholder="Masukkan Kode Pos" required>
                    </div>
                
                    <div class="mb-3 col-6">
                        <label for="wilayah" class="form-label">Wilayah</label>
                        <select name="wilayah" id="wilayah" class="form-select" required>
                            <option value="" disabled selected>Pilih Wilayah</option>
                            {% for wilayah in pilih_wilayah %}
                            <option value="{{ wilayah.wilayah_id }}">{{ wilayah.wilayah_nama }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary col-6">Save</button>
                    </div>
                </div>
                </form>
                
                
               
            </div>
        </div>
    </div>
</div>


<script>
    function Hapus_info() {
    Swal.fire({
        title: 'Apakah kamu yakin ingin menghapus?',
        showCancelButton: true,
        confirmButtonText: 'Konfirmasi',
        cancelButtonText: 'Batal',
        confirmButtonColor: '#d33',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: "{% url 'admin_setori:delete_penduduk' 'holder' %}".replace('holder', id_hapus_penduduk),
                dataType: "html",
                timeout: 10000,
                beforeSend: function() {
                    Swal.fire({
                        title: 'Memproses...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function(response) {
                    Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000); 
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                }
            });
        }
    });

};
</script>




{% endblock main %}
{% block js %}

{% endblock js %}