{% extends 'setori/base_layout/base_layout.html' %} 
{% load static %}

{% block css %}
<style>
    .social-icons .fab {
    font-size: 2em; /* Mengatur ukuran ikon, dapat disesuaikan */
}

/* Contoh penyesuaian tambahan */
.social-icons a {
    display: inline-block;
    margin: 10px; /* Jarak antar ikon */
}

</style>
{% endblock css %}


{% block main %}  
        <!-- header -->
        <div class="body">
            <div class="page-header" style="position: relative; margin-bottom: 0; overflow: hidden;">
                <img src="{% static 'img/header/atasan.jpg' %}" alt="Header Background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
                <div class="container p-relative z-index-1 py-2">
                    <div class="row mh-200px mh-lg-300px align-items-center py-4">
                        <div class="col">
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <h1 class="text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Kontak</h1>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                                    <li><a href="{% url 'app_setori:index_home' %}" class="text-light text-decoration-none">Beranda</a></li>
                                    <li class="active text-color-light opacity-7">Kontak</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>              

        <div class="bg-grey-100 px-3 px-xl-0 border-radius-2-bottom p-relative overflow-hidden">
            <!-- Intro -->
            <div class="container pt-4 pt-lg-5 pb-4" id="intro">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-2">Hubungi</h2>
                        </div>
                    </div>
                </div>
                <div class="p-relative">
                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                        <p class="mb-0">
                            Apakah Anda memiliki pertanyaan mengenai fitur layanan kami, atau ingin melaporkan tindak pidana berkaitan dengan kesehatan? tim profesional kami yang berpengalaman siap membantu Anda.</p>
                    </div>
                </div>

                <!--isi kontak-->
                <div class="row mt-5 pt-2">
                    <div class="col-lg-4 mb-3 mb-lg-0">

                        <div class="feature-box feature-box-secondary">
                            <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                <img src="{% static 'img/img/icons/pin-light.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                            </div>
                            <div class="feature-box-info ps-3">
                                <strong class="d-block text-4-5 text-dark mb-1">Dinas Kesehatan Kab Supiori</strong>
                                <p class="mb-0 text-3-5 line-height-7">Marsram, Kec. Supiori Tim.</p>
                                <p class="mb-0 text-3-5 line-height-7">Kabupaten Supiori, Papua 98161</p>
                                <p class="mb-0 text-3-5 line-height-7"><a href="https://www.google.com/maps" target="_blank" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">Get Directions</a></p>
                            </div>
                        </div>

                        <div class="feature-box feature-box-secondary mt-4 pt-2">
                            <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                <img src="{% static 'img/img/icons/email.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                            </div>
                            <div class="feature-box-info ps-3">
                                <strong class="d-block text-4-5 text-dark mb-1">Alamat E-mail</strong>
                                <p class="mb-0 text-3-5 line-height-7">Alamat Pengaduan:</p>
                                <p class="mb-0 text-3-5 line-height-7 pb-3"><a href="mailto:info@youraccountingfirm.com" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">pengaduansupiori@gmail.com</a></p>
                                <p class="mb-0 text-3-5 line-height-7">Customer Servise:</p>
                                <p class="mb-0 text-3-5 line-height-7 pb-3"><a href="mailto:support@youraccountingfirm.com" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">cssupiori@gmail.com</a></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="feature-box feature-box-secondary">
                            <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                <img src="{% static 'img/img/icons/phone-2.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                            </div>
                            <div class="feature-box-info ps-3">
                                <strong class="d-block text-4-5 text-dark mb-1">Nomor Handphone</strong>
                                <p class="mb-0 text-3-5 line-height-7">Nomor Pengaduan: <a href="tel:1234567890" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">800 123 4567</a></p>
                                <p class="mb-0 text-3-5 line-height-7">Hotline: <a href="tel:1234567890" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">800 123 4567</a></p>
                                <p class="mb-0 text-3-5 line-height-7">Customer Servise: <a href="tel:1234567890" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">800 123 4567</a></p>
                            </div>
                        </div>

                        <div class="feature-box feature-box-secondary mt-4 pt-2">
                            <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                <img src="{% static 'img/img/icons/clock.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                            </div>
                            <div class="feature-box-info ps-3">
                                <strong class="d-block text-4-5 text-dark mb-1">Jam Kerja</strong>
                                <p class="mb-0 text-3-5 line-height-7">Senin - Jumat: 9:00 - 17:00</p>
                                <p class="mb-0 text-3-5 line-height-7">Sabtu: 10:00 - 14:00</p>
                                <p class="mb-0 text-3-5 line-height-7">Minggu: Tidak Melayani</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4">
                        <div class="feature-box feature-box-secondary">
                            <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                <img src="{% static 'img/img/icons/phone-2.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                            </div>
                            <div class="feature-box-info ps-3">
                                <strong class="d-block text-4-5 text-dark mb-1">Sosial Media</strong>
                                <ul class="social-icons social-icons-clean social-icons-medium">
                                    <li class="social-icons-instagram">
                                        <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="social-icons-x">
                                        <a href="http://www.x.com/" target="_blank" title="X">
                                            <i class="fab fa-x-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social-icons-facebook">
                                        <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                </ul>    
                            </div>
                        </div>
                    </div>                    
                </div>

                <div class="row pt-4">
                    <div class="col pt-4">
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                            <p class="mb-0 text-dark d-flex justify-content-center">
                                <img src="img/demos/accounting-1/icons/icon-5.svg" width="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark me-2'}" />
                                Selalu siaga demi masyarakat supiori lebih sejahtera
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-container" style="display: flex; justify-content: center;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.47268893396!2d135.72742674436404!3d-0.7541726980906849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x680171f324b75afb%3A0xc3480285d5705e8e!2sDinas%20Kesehatan!5e0!3m2!1sid!2sid!4v1728291617820!5m2!1sid!2sid" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
{% endblock main %} 

