{% extends 'setori/base_layout/base_layout.html' %} 
{% load static %}

{% block css %}
<style>
.sosmed-icons {
    display: flex;
    justify-content: center; /* Memusatkan ikon */
    list-style-type: none; /* Menghilangkan bullet point */
    padding: 0; /* Menghilangkan padding */
}

.social-icon {
    margin: 0 15px; /* Spasi antar ikon */
    transition: background-color 0.3s; /* Efek transisi pada hover */
    border-radius: 50%; /* Membuat sudut bulat pada background */
    width: 70px; /* Ganti sesuai ukuran yang diinginkan */
    height: 70px; /* Ganti sesuai ukuran yang diinginkan */
    display: flex; /* Membuat flex container untuk ikon */
    align-items: center; /* Memusatkan ikon secara vertikal */
    justify-content: center; /* Memusatkan ikon secara horizontal */
}

.social-icon a {
    text-decoration: none; /* Menghilangkan garis bawah */
    color: #000; /* Warna ikon */
    font-size: 50px; /* Ukuran ikon 50px */
}

.social-icon:hover {
    background-color: rgba(0, 123, 255, 0.2); /* Ganti dengan warna custom */
}

</style>
{% endblock css %}


{% block main %}  
        <!-- header -->
        <div class="body">
            <div class="page-header" style="position: relative; margin-bottom: 0; overflow: hidden;">
                <img src="{% static 'img/header/atasan.jpg' %}" alt="Header Background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
                <div class="container p-relative z-index-1 py-2">
                    <div class="row mh-200px mh-lg-300px align-items-center py-4">
                        <div class="col">
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <h1 class="text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Kontak</h1>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                                    <li><a href="{% url 'app_setori:index_home' %}" class="text-light text-decoration-none">Beranda</a></li>
                                    <li class="active text-color-light opacity-7">Kontak</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>              

        <div class="bg-grey-100 px-3 px-xl-0 border-radius-2-bottom p-relative overflow-hidden">
            <!-- Intro -->
            <div class="container pt-4 pt-lg-5 pb-4" id="intro">
                <div class="row align-items-center">
                        <div class="appear-animation text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Hubungi</h2>
                        </div>
                </div>
                <div class="p-relative">
                    <div class="appear-animation text-center" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                        <p class="mb-0">
                            Apakah Anda memiliki pertanyaan mengenai fitur layanan kami, atau ingin melaporkan tindak pidana berkaitan dengan kesehatan? tim profesional kami yang berpengalaman siap membantu Anda.</p>
                    </div>
                </div>


                <!--isi kontak-->
                {% for kontak in dt_kontak %}
                    <div class="row mt-5 pt-2">
                        <div class="col-lg-4 mb-3 mb-lg-0">
                            <div class="feature-box feature-box-secondary">
                                <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                    <img src="{% static 'img/img/icons/pin-light.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                                </div>
                                <div class="feature-box-info ps-3">
                                    <strong class="d-block text-4-5 text-dark mb-1">{{ kontak.nama_instansi }}</strong>
                                    <p class="mb-0 text-3-5 line-height-7">{{ kontak.alamat }}</p>
                                    <p class="mb-0 text-3-5 line-height-7"><a href="{{ kontak.maps }}" target="_blank" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">Lihat di Maps</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="feature-box feature-box-secondary">
                                <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                    <img src="{% static 'img/img/icons/email.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                                </div>
                                <div class="feature-box-info ps-3">
                                    <strong class="d-block text-4-5 text-dark mb-1">Alamat E-mail</strong>
                                    <p class="mb-0 text-3-5 line-height-7">Alamat Pengaduan:</p>
                                    <p class="mb-0 text-3-5 line-height-7 pb-3"><a href="{{ kontak.email_pengaduan }}" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">{{ kontak.email_pengaduan }}</a></p>
                                    <p class="mb-0 text-3-5 line-height-7">Customer Servise:</p>
                                    <p class="mb-0 text-3-5 line-height-7 pb-3"><a href="{{ kontak.email_cs }}" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">{{ kontak.email_cs }}</a></p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4">

                            <div class="feature-box feature-box-secondary">
                                <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                                    <img src="{% static 'img/img/icons/phone-2.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                                </div>
                                <div class="feature-box-info ps-3">
                                    <strong class="d-block text-4-5 text-dark mb-1">Nomor Handphone</strong>
                                    <p class="mb-0 text-3-5 line-height-7">Nomor Pengaduan: <a href="https://wa.me/{{ kontak.no_pengaduan }}" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">{{ kontak.no_pengaduan }}</a></p>
                                </div>
                            </div>
                        </div>                   
                        <p></p>
                            <div class="feature-box feature-box-secondary">
                                <div class="feature-box-info ps-3">
                                    <strong class="d-block text-4-5 text-dark mb-1 text-center">Sosial Media</strong>
                                    <p></p>
                                        <div class="text-center">
                                            <ul class="sosmed-icons">
                                                <li class="social-icon">
                                                    <a href="{{ kontak.link_ig }}" title="Instagram">
                                                        <i class="fa-brands fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li class="social-icon">
                                                    <a href="{{ kontak.link_twitter }}" title="X">
                                                        <i class="fa-brands fa-x-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="social-icon">
                                                    <a href="{{ kontak.link_facebook }}" title="Facebook">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>                                                                
                                </div>
                            </div>
                    </div>
                {% endfor %}

                <div class="row pt-4">
                    <div class="col pt-4">
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                            <p class="mb-0 text-dark d-flex justify-content-center">
                                <img src="img/demos/accounting-1/icons/icon-5.svg" width="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark me-2'}" />
                                Selalu siaga demi masyarakat supiori lebih sejahtera
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="map-container" style="display: flex; justify-content: center;">
                {% for kontak in dt_kontak %}
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.47268893396!2d135.72742674436404!3d-0.7541726980906849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x680171f324b75afb%3A0xc3480285d5705e8e!2sDinas%20Kesehatan!5e0!3m2!1sid!2sid!4v1728291617820!5m2!1sid!2sid" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                {% endfor %}
            </div>
        </div>
{% endblock main %} 

