{% extends 'setori/base_layout/base_layout.html' %} 
{% load static %}

{% block main %} 
<div class="body">
    
        <div class="body">
            <div class="page-header" style="position: relative; margin-bottom: 0; overflow: hidden;">
                <img src="{% static 'img/header/atasan.jpg' %}" alt="Header Background" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;">
                <div class="container p-relative z-index-1 py-2">
                    <div class="row mh-200px mh-lg-300px align-items-center py-4">
                        <div class="col">
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <h1 class="text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Detail Berita</h1>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                                    <li><a href="{% url 'app_setori:index_home' %}" class="text-light text-decoration-none">Beranda</a></li>
                                    <li class="active text-color-light opacity-7">Detail Berita</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div role="main" class="main px-3 px-lg-5"> 
        <div class="container mt-lg-5 pt-5">

            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">

                    <article>
                        <div class="card border-0">
                            <div class="card-body z-index-1 p-0">
                                <p class="text-uppercase text-3 font-weight-semibold mb-3 text-color-secondary"><time pubdate datetime="2024-01-10">10 Jan 2024</time> <span class="opacity-3 d-inline-block px-2">|</span> 3 Comments <span class="opacity-3 d-inline-block px-2">|</span> John Doe</p>

                                <h1 class="read__title">Pemkab Supiori bersama dengan warga Kampung Aruri melakukan aksi penanganan DB</h1>

                                <div class="post-image pb-4">
                                    <img class="card-img-top border-radius-2" src="{% static 'img/berita/1.jpg' %}" alt="Card Image">
                                </div>

                                <div class="card-body p-0">
                                    <p>Pemkab Supiori bersama warga Kampung Aruri telah meluncurkan sebuah program komprehensif untuk menangani dan mencegah penyebaran Demam Berdarah (DB) di daerah mereka. Program ini adalah hasil dari kolaborasi yang erat antara pemerintah daerah, tenaga medis, dan masyarakat setempat, dengan tujuan utama untuk mengurangi risiko dan dampak penyakit tersebut. Kegiatan dimulai dengan penyuluhan intensif yang diadakan oleh pihak kesehatan setempat, yang menjelaskan pentingnya menjaga kebersihan lingkungan dan mengenali gejala awal DB. Selain itu, program ini juga mencakup pelatihan kepada warga mengenai cara-cara efektif untuk menghindari gigitan nyamuk, penyemprotan insektisida, serta pengelolaan dan pembuangan limbah rumah tangga yang benar.</p>
                                    <p>Untuk mendukung upaya tersebut, dilakukan penyemprotan insektisida secara rutin di area yang diketahui memiliki risiko tinggi, seperti tempat-tempat yang sering kali menjadi tempat berkembang biaknya nyamuk, termasuk genangan air dan saluran air yang tidak terawat. Warga Kampung Aruri juga aktif berpartisipasi dalam kegiatan pembersihan lingkungan dengan membersihkan area sekitar rumah dan menghilangkan genangan air yang dapat menjadi tempat berkembang biaknya nyamuk. Program ini tidak hanya fokus pada penanganan jangka pendek, tetapi juga berusaha membangun kesadaran jangka panjang tentang pentingnya sanitasi dan kebersihan pribadi.</p>
                                    <p>Pemkab Supiori berkomitmen untuk terus mendukung dan memperluas program ini agar dapat menjangkau seluruh komunitas dengan lebih efektif. Dukungan dari pemerintah daerah mencakup penyediaan alat dan bahan untuk penyemprotan, serta pengadaan edukasi kesehatan yang berkelanjutan. Dengan adanya kerjasama yang solid antara pemerintah dan masyarakat, diharapkan Kampung Aruri dapat mengatasi tantangan DB dengan lebih baik dan menjadi model sukses dalam upaya pencegahan dan penanganan penyakit di tingkat lokal. Keberhasilan program ini akan menjadi langkah positif dalam meningkatkan kualitas hidup masyarakat serta mempromosikan kesehatan dan kesejahteraan yang lebih baik di seluruh wilayah Supiori.</p>

                                    <!-- Go to www.addtoany.com to customize -->
                                    <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                                        <a class="a2a_button_facebook"></a>
                                        <a class="a2a_button_x"></a>
                                        <a class="a2a_button_copy_link"></a>
                                    </div>
                                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                                    <!-- AddToAny END -->

                                    <hr class="my-5">

                                    <div class="post-block post-author">
                                        <h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Penulis</h3>
                                        <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
                                            <a href="blog-post.html">
                                                <img src="d:\xampp\htdocs\Setori\img\demos\accounting-1\Desain tanpa judul\1.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </div>
                                        <p><strong class="name"><a href="#" class="text-4 text-dark pb-2 pt-2 d-block">John Doe</a></strong></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="blog-sidebar col-lg-4 pt-4 pt-lg-0">
                    <aside class="sidebar">
                        <div class="px-3 mt-4">
                            <h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Posts</h3>
                            <div class="pb-2 mb-1">
                                <div class="recent-post" style="margin-bottom: 20px;">
                                    <img src="img/demos/accounting-1/Desain tanpa judul/3.jpg" alt="Image 3" style="width: 100%; height: auto; margin-bottom: 10px;">
                                    <a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">15 Jan | John Doe</a>
                                    <a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Beberapa wisata alam tersembunyi di Supiori, nomor 4 wajib kamu coba</a>
                                </div>
                                <div class="recent-post" style="margin-bottom: 20px;">
                                    <img src="img/demos/accounting-1/Desain tanpa judul/4.jpg" alt="Image 3" style="width: 100%; height: auto; margin-bottom: 10px;">
                                    <a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">15 Jan | John Doe</a>
                                    <a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Beberapa wisata alam tersembunyi di Supiori, nomor 4 wajib kamu coba</a>
                                </div>
                                <div class="recent-post" style="margin-bottom: 20px;">
                                    <img src="img/demos/accounting-1/Desain tanpa judul/5.jpg" alt="Image 3" style="width: 100%; height: auto; margin-bottom: 10px;">
                                    <a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">15 Jan | John Doe</a>
                                    <a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Beberapa wisata alam tersembunyi di Supiori, nomor 4 wajib kamu coba</a>
                                </div>
                                <div class="recent-post" style="margin-bottom: 20px;">
                                    <img src="img/demos/accounting-1/Desain tanpa judul/6.jpg" alt="Image 3" style="width: 100%; height: auto; margin-bottom: 10px;">
                                    <a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">15 Jan | John Doe</a>
                                    <a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Beberapa wisata alam tersembunyi di Supiori, nomor 4 wajib kamu coba</a>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock main %} 