{% extends 'admin/base_layout/index.html' %}
{% block css %} {% endblock css %}
{% block main %}

<!-- PAGE-HEADER -->
<div class="page-header">
    <div>
        <h1 class="page-title">FAQ</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>
        </ol>
    </div>
    <div class="ms-auto pageheader-btn">
        <a href="#" class="btn btn-primary btn-icon text-white me-2" data-bs-toggle="modal" data-bs-target="#editFaqModal" onclick="Tambah_faq()">
            <span>
                <i class="fe fe-plus" ></i>
            </span> Add kategori
        </a>
        <a href="{% url 'admin_setori:histori_faq' %}" class="btn btn-success btn-icon text-white">
            <span>
                <i class="fa-solid fa-rotate-right"></i>
            </span> Histori
        </a>
    </div>
</div>
<!-- User Table -->
<div class="row">
    <div class="col-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title mb-0">FAQ</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="data-table" class="table table-bordered text-nowrap mb-0">
                        <thead class="border-top">
                            <tr>
                                <th class="bg-transparent border-bottom-0 w-5">No</th>
                                <th class="bg-transparent border-bottom-0">Pertanyaan</th>
                                <th class="bg-transparent border-bottom-0">Jawaban</th>
                                <th class="bg-transparent border-bottom-0">Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          {% for faq in dt_faq %}
                            <tr class="border-bottom">
                                <td class="text-muted fs-15 fw-semibold text-center">{{ forloop.counter }}</td>
                                <td class="text-muted fs-15 fw-semibold">{{ faq.pertanyaan|slice:":60" }}...</td>
                                <td class="text-muted fs-15 fw-semibold">{{ faq.jawaban|slice:":60" }}...</td>
                             
                                <!-- <td class="text-success fs-15 fw-semibold">Success</td> -->
                                <td class="text-muted fs-15 fw-semibold">
                                    <a class="btn btn-primary btn-sm rounded-11 me-2" 
                                        href="#" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#editFaqModal" 
                                        data-bs-id="{{ faq.faq_id }}" 
                                        data-bs-pertanyaan="{{ faq.pertanyaan }}" 
                                        data-bs-jawaban="{{ faq.jawaban }}">
                                         <i>
                                             <svg class="table-edit" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16">
                                                 <path d="M0 0h24v24H0V0z" fill="none" />
                                                 <path
                                                     d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"
                                                 />
                                             </svg>
                                         </i> 
                                     </a>
                                     
                                        <a >
                                            <button type="button" class="btn btn-danger" onclick="Hapus_faq('{{faq.faq_id }}')">
                                                <i class="fe fe-trash"></i> Hapus
                                            </button>     
                                        </a>
                                        
                                        
                                    </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- COL END -->
</div>


<!-- Add dan Edit FAQ Modal -->

<div class="modal fade" id="editFaqModal" tabindex="-1" aria-labelledby="editFaqModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFaqModalLabel">Edit FAQ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Pertanyaan</label>
                        <input type="text" name="pertanyaan" id="edit-pertanyaan" class="form-control" placeholder="Masukan Pertanyaan" required />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Jawaban</label>
                        <textarea name="jawaban" id="edit-jawaban" class="form-control" placeholder="Masukan Jawaban" required ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update FAQ</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var editFaqModal = document.getElementById('editFaqModal');
    editFaqModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;

        // Extract info from data-bs-* attributes
        var faqId = button.getAttribute('data-bs-id');
        var pertanyaan = button.getAttribute('data-bs-pertanyaan');
        var jawaban = button.getAttribute('data-bs-jawaban');

        // Update the modal's form fields
        var modalTitle = editFaqModal.querySelector('.modal-title');
        var inputPertanyaan = editFaqModal.querySelector('#edit-pertanyaan');
        var inputJawaban = editFaqModal.querySelector('#edit-jawaban');
        var form = editFaqModal.querySelector('form');

        modalTitle.textContent = 'Edit pertanyaan ' + pertanyaan;
        inputPertanyaan.value = pertanyaan;
        inputJawaban.value = jawaban;

        // Update form action URL dynamically with the correct FAQ ID
        form.action = "{% url 'admin_setori:edit_faq' 'holder' %}".replace('holder', faqId);
        
    });

    function Tambah_faq(){
        var form = editFaqModal.querySelector('form');
        document.getElementById('editFaqModalLabel').textContent = 'Tambahkan FAQ';
        form.action = "{% url 'admin_setori:add_faq' %}";

    };
           
    
    // Show confirmation dialog
    function Hapus_faq(id_hapus_faq) {
    Swal.fire({
        title: 'Apakah kamu yakin ingin menghapus?',
        showCancelButton: true,
        confirmButtonText: 'Konfirmasi',
        cancelButtonText: 'Batal',
        confirmButtonColor: '#d33',
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: "{% url 'admin_setori:delete_at_faq' 'holder' %}".replace('holder', id_hapus_faq),
                dataType: "html",
                timeout: 10000,
                beforeSend: function() {
                    Swal.fire({
                        title: 'Memproses...',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                    });
                    Swal.showLoading();
                },
                success: function(response) {
                    Swal.fire('Berhasil!', 'Data Berhasil Dihapus', 'success');
                    setTimeout(function() {
                        window.location.reload();
                    }, 2000); 
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    Swal.fire('Gagal!', 'Data Gagal Dihapus!', 'error');
                }
            });
        }
    });

};

Swal.fire({
  position: 'center', // Mengubah posisi ke tengah
  icon: 'success',
  title: 'Your work has been saved',
  showConfirmButton: false,
  timer: 1500
});



    
</script>



{% endblock main %}


{% block js %}
<!-- Script to handle CRUD operations via AJAX and Bootstrap modal -->

{% endblock js %}